/.codeintel/config
*.orig
*.svn
/changed_files
/backup
/nbproject
/.project
/.loadpath
/config/additional_environment.rb
/config/configuration.yml
/config/database.yml
/config/email.yml
/config/initializers/session_store.rb
/config/initializers/secret_token.rb
/coverage
/db/*.db
/db/*.sqlite3
/db/schema.rb
/files/*
/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
/log/*.log*
/log/mongrel_debug
/public/dispatch.*
/public/plugin_assets
/tmp/*
/tmp/cache/*
/tmp/pdf/*
/tmp/sessions/*
/tmp/sockets/*
/tmp/test/*
/tmp/thumbnails/*
/vendor/cache
/vendor/rails
*.rbc
*.*DS_Store
*._*
/.bundle
/Gemfile.lock
/Gemfile.local
/redmine_development
app/views/timelog/.fuse_hidden00000d6f00000002
test/functional/.fuse_hidden00000e7900000005
public/images/logo_e-science_network.png
public/system/attachments/development/files/*
