<p class='simple_captcha'>
  <label class='simple_captcha_label'>
    <%= simple_captcha_options[:label] %> <br>
    <%= simple_captcha_options[:image] %>
    <%= simple_captcha_options[:field] %>
  </label>
</p>
