<ul>
  <li><%= link_to l(:button_edit), {:action => 'edit'} %></li>
  <li><%= link_to l(:button_copy), {:action => 'copy'} %></li>
  <li><%= link_to l(:field_summary), {:action => 'index'} %></li>
</ul>