/* The main calendar widget.  DIV containing a table. */

.controller-calendars .filter label, .controller-calendars .add-filter label{
  display: inline-block;
  width: auto;
}

.controller-calendars select.values_project_id {
  max-width: 200px;
}

.controller-calendars .selectors {
  float: left;
  margin-top: 10px;
}

.controller-calendars .selectors label {
  width: auto;
}

.controller-calendars .buttons {
  margin-top: 8px;
  float: right;
}

.controller-calendars .buttons div {
  float: right;
  padding: 5px 15px;
  margin-left: 10px;
  background-color: #7DB414;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.controller-calendars table.cal td {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
}

.controller-calendars table.cal td div.td_box {
  height: 60px;
  overflow: hidden;
}

.controller-calendars table.cal td.event {
  background-color: #7DB414;
  color: #ffffff;
}

.controller-calendars table.cal td.week-number {
  font-weight: bold;
  border: none;
}

.controller-calendars table.cal td.weekend {
  background-color: #FAFAFA;  
}

.controller-calendars table.cal td.today {
  border-color: #7DB414;  
}

.controller-calendars table.cal td:hover {
  border-color: #7DB414;  
}

.controller-calendars table.cal td p {
  margin: 2px;
  padding: 2px 0;
}

.controller-calendars .buttons div:hover {
  background: linear-gradient(90,#7DB414,#759B68);
  background: -moz-linear-gradient(90,#7DB414,#759B68);
  background: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0,#759B68),color-stop(1,#7DB414));
  background: -o-linear-gradient(90,#7DB414,#759B68);
}

.controller-calendars .buttons a {
  color: white;
  text-decoration: none;
}

#changeMonth .prev, #changeMonth .next {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, #a3a3a3 0%, #EFEFEF 30%);
  background-image: -webkit-linear-gradient(top, #a3a3a3 0%, #EFEFEF 30%);
  background-image: -ms-linear-gradient(top, #a3a3a3 0%, #EFEFEF 30%);
  background-image: -o-linear-gradient(top, #a3a3a3 0%, #EFEFEF 30%);
  float: left;
  border: solid #D3D3D3;
  font-size: 13px;
}

#changeMonth .prev {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  -khtml-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#changeMonth .next {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  -khtml-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#changeMonth .prev:hover, #changeMonth .next:hover {
  background-color: #DEDEDE;
  background-image: -moz-linear-gradient(top, #939393 0%, #DEDEDE 30%);
  background-image: -webkit-linear-gradient(top, #939393 0%, #DEDEDE 30%);
  background-image: -ms-linear-gradient(top, #939393 0%, #DEDEDE 30%);
  background-image: -o-linear-gradient(top, #939393 0%, #DEDEDE 30%);
}

#changeMonth a {
  color: #7D7D7D;
  text-decoration: none;
  display: block;
  padding: 3px 20px;
}

#changeMonth {
  float: left;
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.controller-calendars .infobox {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  background: #ffffff;
  padding: 10px;
  max-width: 400px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  color: #7D7D7D;
  height: auto !important;
  margin: 10px 0 0 10px;
}

.controller-calendars .linkToInfo.box {
  background-image: url("../images/cal_element.png");
  background-repeat: no-repeat;
  float:left; 
  margin-left:2px;
  width:15px; 
  height:15px;  
}

.controller-calendars .infobox .tip.notlast {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ADADAD;
}

.controller-calendars .infobox td {
  border: none !important;
}

.controller-calendars .infobox td.show_issue {
  vertical-align: top;
  padding-top: 7px;
}

.controller-calendars .infobox td.show_issue div {
  background-image: url('../images/show.png');
  width:13px;
  height: 10px;
  background-position: 100% 0%;
  margin-right: 5px;
}

.controller-calendars .infobox td.show_issue div:hover {
  background-position: 100% 100%;
}

.controller-calendars .infobox h2 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

img.calendar-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}

div.calendar { position: relative; z-index: 60;}

div.calendar, div.calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #fafbfc;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

div.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

div.calendar .nav {
  background: #467aa7;
}

div.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

div.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #467aa7;
  color: #fff;
}

div.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;
}

div.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

div.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

div.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #80b0da;
  color: #000;
  padding: 1px;
}

div.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

div.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
div.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
div.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

div.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

div.calendar tbody .rowhilite td {
  background: #def;
}

div.calendar tbody .rowhilite td.wn {
  background: #80b0da;
}

div.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #80b0da;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

div.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

div.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

div.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

div.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #f00;
}

div.calendar tbody .disabled { color: #999; }

div.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

div.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

div.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

div.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

div.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

div.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

div.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

div.calendar .combo .label,
div.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

div.calendar .combo .label-IEfix {
  width: 4em;
}

div.calendar .combo .hilite {
  background: #acf;
}

div.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

div.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

div.calendar td.time .hour,
div.calendar td.time .minute,
div.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

div.calendar td.time .ampm {
  text-align: center;
}

div.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

div.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

div.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
