select#time_entry_project_id, select#project_parent_id {
  max-width: 400px;
}

.contextual {
  float: right;
}

.action-show .issue .tracker {
  padding-top: 10px;
  margin-top: 30px;
  font-size: 15px;
  color: #7DB414;
  border-top: 1px solid #D3D3D3;
}

table.issues {
  margin-left: 10px;  
}

.mypage-box table.issues {
  margin-left: 0px;
}

.issues .status {
  width: 200px;
}

.issues label {
  font-weight: 600;
}

.issues a {
  text-decoration: none;
//  color: #707070;
}

.issues a:hover {
  text-decoration: underline;
}

.issues li {
  margin-bottom: 10px;
  border: 2px solid #F0F0F0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;  
}

.issues li:hover {
  border-color: #d0d0d0;
}

.issues .childissue {
  background-image: url('../images/issue_child.png');
  padding-left: 20px;
  background-repeat: no-repeat;
}

.issues .assigned-to-me {
//  background-color: #FAFAFA;
}

.list .group {
  margin-top: 10px;
}

.list .group .headline {
  font-size: 16px;
  float: left;
  width: 530px;
}

.issues tr.issue {
  display: table-row;
}

.issues .issue {
  margin-left: 15px;
  padding: 1px 2px;
  display: inline-block;
  padding: 5px;
  color: #707070; 
}

.mypage-box .issues .issue {
  margin-left: 0;
  padding: 0;
}

.issues .issue:hover {
  background-color: #F0F0F0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; 
  cursor: pointer;
}

.mypage-box .issues .issue:hover {
  background-color: inherit;
}

.list .group .expander {
  clear: both;
  float: left;
//  margin-left: 20px;
  padding-left: 20px;
  background-image: url(../images/contract.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.list.issues .expander:hover {
  background-image: url(../images/expand_hover.png);
  color: #7DB414;
}

.list.issues .open .expander {
  display: inline-block;
  background-image: url(../images/expand.png);
}

.list.issues .open .expander:hover {
  background-image: url(../images/contract_hover.png);
}

.list.issues .open a {
//  display: block !important;
}

.list.issues p {
  margin: 0;
  padding: 0;
}

.list.issues .tracker {
  color: #707070;
  font-size: 12px;
  
}

.controller-issues #query_form_content fieldset {
  margin-bottom: 0;
}

#issue_project_id {
	max-width: 327px;
}

.issue #issue_tree td {
  padding-right: 10px;
}

#issue_is_private {
  float: right;
  padding: 5px 3px;
}

#issue_tree .progress {
  margin: 0px !important;
}

#issue_is_private_label {
  width: 60px;
}

.edit_issue fieldset label, .new_issue fieldset label {
  width: 120px;
}

.edit_issue #issue_estimated_hours, .edit_issue #time_entry_hours, .new_issue #issue_estimated_hours, .new_issue #time_entry_hours {
  width: 30px;
}

.edit_issue #issue_subject, .edit_issue #time_entry_comments {
  width: 400px;
}

.edit_issue .description .cke_contents, .new_issue .description .cke_contents {
  height: 250px !important;
}

.next-prev-links .prev, .next-prev-links .next {
  background-color: #FAFAFA;
  float: left;
  border: 2px solid #D3D3D3;
  font-size: 12px;
}

.next-prev-links .position {
  background-color: #FAFAFA;
  float: left;
  border: solid #D3D3D3;
  font-size: 14px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  color: #707070;
  padding:  1px 20px;
}

.next-prev-links .prev {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -khtml-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  border-bottom-width: 0px;
}

.next-prev-links .next {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -khtml-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  border-bottom-width: 0px;
}

.next-prev-links .prev:hover, .next-prev-links .next:hover {
  background-color: #DEDEDE;
}

.next-prev-links .first:hover, .next-prev-links .last:hover {
  background-color: #FAFAFA;
}

.next-prev-links a {
  color: #707070;
}

.next-prev-links .first, .next-prev-links .last {
  color: #a9a9a9;
}

.next-prev-links a, .next-prev-links .first, .next-prev-links .last {
  text-decoration: none;
  display: block;
  padding: 3px 15px;
}
	
.next-prev-links {
  margin-top: -14px;
  position: absolute;
  right: 10px
}

.next-prev-links div, .next-prev-links span {
  float: left;
}

#watchers_form {
  margin-left: 20px;
}
#watchers_inputs label {
  width: 160px;
  display: inline-block;
}

.icon-lock {
  height: 20px;
  width: 35px;
  display: inline-block;
//  background: url(../images/lock_unlock.png);
  background-repeat: no-repeat;
  background-position: 50% -20%;
}

.icon-lock:hover {
  background-position: 50% 100%;
  text-decoration: none;
}

.icon-unlock {
  height: 20px;
  width: 35px;
  display: inline-block;
  background: url(../images/lock_unlock.png);
  background-repeat: no-repeat;
  background-position: 50% 120%
}

.icon-unlock:hover {
  background-position: 50% 0%;
  text-decoration: none;
}

.own_issue:hover .issue_preview {
  visibility: visible;
  display: block;
}

.own_issue {
  border-bottom: 1px solid #F0F0F0; 
  padding-bottom: 5px;
  width: 180px;
}

.issue_preview {
  visibility: hidden;
  display: none;
  position: absolute;
  margin-left: 20px;
  margin-top: -5px;
  border: 1px solid #DADADA;
  color: #707070;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px !important;
}

.splitcontentleft div {
  width: 48%;
  float: left;
}

#all_attributes p {
  margin: 1px 0;
}

.timelog.content {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 0 10px 10px 10px;
}