/* Team/Community/Private Navigation on top left */
#navigation_group {
	position: absolute;
	top:145px;
}

#navigation_group #private {
	width:109px;
	height:65px;
	position: absolute;
	margin-left: 27px;
	text-align:right;
	vertical-align:bottom;
	background:#7db515 url(../images/privat_m_gruen.png) center bottom no-repeat;  	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:18pt;
	font-weight:bold;
	color:#fff;
	z-index:10;
	background-size: 109px;
}

#navigation_group #private.female {
	background:#7db515 url(../images/privat_w_gruen.png) center bottom no-repeat;  	
	background-size: 109px;
}

#navigation_group #group {
	width:72px;
	height:45px;
	float: left;
	margin-top:-20px;
	background:#7D7D7D url(../images/team_grau.png) center bottom no-repeat;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-size:72px;
	z-index:5;
}

#navigation_group #community {
	width:72px;
	height:45px;
	float: right;
	margin-top:-45px;
	margin-left:180px;
	background:#7D7D7D url(../images/community_grau.png) center bottom no-repeat;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-size:72px;
	z-index:5;
}


/* top-navigation (with green background) */
#header_bg_bar {
	width:70.1%;
	height:25px;
	left:30%;
	position:absolute;
	background-color:#7DB414;
	top:140px;
}

#main_navigation {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#main_navigation .account_menu {
	margin-top: -25px;		
}

#main_navigation ul {
	margin:0;
	padding-left:0;
}

#main_navigation li a {
	width:120px;
	height:15px;
	float:left;
	padding-top:3px;
	padding-bottom:7px;
	text-align:center;
	background-color:#7DB414;
	font-size:15px;
	color:#fff;
	list-style-type:none;
	display:block;
	text-decoration:none;
	color:#fff;
}

#main_navigation li a.first {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

#main_navigation li a.selected {
	padding-bottom:12px;
	margin-bottom: -7px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	font-weight:bold;
}

#main_navigation li a:hover {
	padding-bottom:14px;
	margin-bottom: -7px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	font-weight:bold;
}

#main_navigation li.active:hover {
	padding-bottom:10px;
}

/* top-navigation (with gray background) */
#navigation {
	margin-bottom:3px;
	background-color:#E9E9E9;
}

#navigation .inside {
	height: 25px;
}

#navigation ul {
	padding-left: 0px;
	margin-top:3px;
	margin-bottom:5px;
}

#navigation li {
	float:left;
	padding-right:20px;
	list-style-type:none;
}

#navigation a {
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color: #707070;
}

#navigation a:hover, #navigation a.selected, #navigation .newmessage {
	color:#7DB414;
}

#navigation li {
	padding-right: 10px;
}

#navigation li a {
	color: #707070;
	font-size: 12px;
	font-weight: normal;
	display: block;
	margin-top: 6px;
	padding-right:10px;
	border-right:1px solid #7D7D7D;
}

#navigation li a:hover {
	color: #AD283D;
}

#navigation li a.withnoborder {
	padding-right: 0px;
	border: none;
}


/* Search-area on the right-sidebar */
#quick-search {
	padding: 6px 10px;
	background-color:#7DB414;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

#quick-search.empty {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}

#quick-search input[type=text] {
	width:120px;
	height:14px;
	padding: 2px;
	border:0px solid #C4C4C4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:13px;
}

#quick-search input[type=submit] {
	width:5px;
	height: 12px;
	margin-top:3px;
	padding:0px;
	background:#7DB414 url(../images/login_submit.png) left center no-repeat;
	border:0;
	color:#7DB414;
	cursor:pointer;
	float: right;
}


/* sidebar-definitions */
.sidebar #sitespecivic {
  padding: 5px 0; 
}

.sidebar {
	background-color:#F4F4F4;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	font-size: 12px;
	margin-bottom: 20px;
}

.sidebar ul {
	padding: 5px 10px 5px 10px;
	margin: 0 0 0 10px;
	list-style-position:inside;
	list-style-type:disc;
	text-indent: -10px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@-moz-document url-prefix(){ 
	.sidebar ul {
  	list-style-position:outside;
  	text-indent: -1px;
  	-moz-hyphens: auto;
  	padding: 5px 10px 5px 15px;
	}
}

#sitespecivic a.icon-add:hover {
  margin-right: 10px;
}

.sidebar li.active, .sidebar li:hover, .sidebar .selected, #sitespecivic a.icon-add:hover {
	background-color:#DEDEDE;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border: 0 solid;
	border-radius:10px;
	color:#B61634;
}

.sidebar a {
	text-decoration:none;
	color: #707070;
	display: block;
	padding: 3px 2px;
}

@-moz-document url-prefix(){ 
	.sidebar a{
		display: inline-block;
		padding: 3px 2px;
	}
}

.sidebar a:hover {
	color: #B61634;
}

.sidebar .splitter, .sidebar .headline {
  background-color:#7DB414;
	font-size: 15px;
	font-weight: bold;
	color: #F4F4F4;
	height: 18px;
	padding: 4px 10px;
}

.sidebar .headline {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;

}

.sidebar h4 {
  margin:5px 0 3px 10px
}

.sidebar .menu-children {
	padding: 1px 10px 0 10px;
	margin: 0;
}

.sidebar .menu-children li {
	padding: 0px 5px;
}

//#admin-menu ul ul {
//	padding: 0;
//}

#sidebar_left {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

#projects_styled {
	width: 150px;
	margin-top: -0px;
}

.styled_select {
  display: inline;
  margin-top: 1px;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.styled_select b {
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #B8B8B8;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background: url('../images/select_down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#sidebar_left select {
	width: 150px;
	font-size: 12px;
}