/* sidebar-definitions */
.sidebar li:first-child {
  padding-top: 4px;
}

.sidebar li:last-child {
  padding-bottom: 4px;
}

.sidebar, .sidebar_nav {
	background-color:#F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	margin-bottom: 20px;
}

.sidebar_nav div.orientation {
  width:150px;
  overflow: hidden;
  color: #7DB414;
  padding: 3px 0 7px 0;
}

.sidebar_nav a {
	text-decoration:none;
	color: #707070;
	display: block;
}

.sidebar_nav li {
	padding-top: 3px;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul {
	margin: 0;
	padding: 0;
  list-style: none;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.sidebar_nav ul {
	padding: 0;
	margin: 0 0 0 10px;
	list-style-type:none;
}

#sitespecivic a.icon-add:hover {
  margin-right: 10px;
}

.sidebar li.active, .sidebar li:hover, .sidebar .selected, #sitespecivic a.icon-add:hover {
	background-color:#DEDEDE;
	color:#B61634;
}

.sidebar li.active:last-child, .sidebar li:last-child:hover, .sidebar .selected:last-child, #sitespecivic li:last-child a.icon-add:hover {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.sidebar a {
	text-decoration:none;
	color: #707070;
	display: block;
	padding: 3px 8px;
	width: 144px;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-s;
}

.sidebar a:hover, .sidebar_nav a:hover {
	color: #B61634;
}

.sidebar .splitter, .sidebar .headline, .sidebar_nav .headline {
  background-color:#7DB414;
	font-size: 15px;
	font-weight: bold;
	color: #FEFEFE;
	height: 18px;
	padding: 4px 10px;
}

.sidebar .headline, .sidebar_nav .headline {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;

}

.sidebar h4 {
  margin:5px 0 3px 10px
}

.sidebar .menu-children {
	padding: 1px 10px 0 10px;
	margin: 0;
}

.sidebar .menu-children li {
	padding: 0px 5px;
}

#sidebar_left {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

#projects_styled {
	width: 150px;
	margin-top: -0px;
}

.styled_select {
  display: inline;
  margin-top: 1px;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.styled_select b {
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #B8B8B8;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background: url('../images/select_down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#sidebar_left select {
	width: 150px;
	font-size: 12px;
}
