	#navigation_group {
		position: absolute;
		top:145px;
	}

	#navigation_group #private {
		width:109px;
		height:65px;
		position: absolute;
		margin-left: 27px;
		text-align:right;
		vertical-align:bottom;
		background:#7db515 url(../images/privat_m_gruen.png) center bottom no-repeat;  	
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		font-size:18pt;
		font-weight:bold;
		color:#fff;
		z-index:10;
		background-size: 109px;
	}

	#navigation_group #private.female {
		background:#7db515 url(../images/privat_w_gruen.png) center bottom no-repeat;  	
		background-size: 109px;
	}
	
	#navigation_group #group {
		width:72px;
		height:45px;
		float: left;
		margin-top:-20px;
		background:#7D7D7D url(../images/team_grau.png) center bottom no-repeat;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		background-size:72px;
		z-index:5;
	}
	
	#navigation_group #community {
		width:72px;
		height:45px;
		float: right;
		margin-top:-45px;
		margin-left:180px;
		background:#7D7D7D url(../images/community_grau.png) center bottom no-repeat;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		background-size:72px;
		z-index:5;
	}
	

	/* Style sheet right_side */
	#quick-search {
		padding: 6px 10px;
		background-color:#7DB414;
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	
	#quick-search input[type=text] {
		width:120px;
		height:14px;
		padding: 2px;
		border:0px solid #C4C4C4;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		font-size:13px;
	}
	
	#quick-search input[type=submit] {
		width:5px;
		height: 12px;
		margin-top:3px;
		padding:0px;
		background:#7DB414 url(../images/login_submit.png) left center no-repeat;
		border:0;
		color:#7DB414;
		cursor:pointer;
		float: right;
	}
	
	.sidebar {
		background-color:#F4F4F4;
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		font-size: 12px;
		padding-bottom: 10px;
	}
	
	#sidebar_left {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	
	.sidebar ul {
		padding: 5px 10px 0px 10px;
		margin:0px;
		list-style-position:inside;
	}
	
	#admin-menu ul ul {
		padding: 0;
	}
	
	.sidebar li {
		padding: 3px 5px;
		list-style-type:disc;
	}
	
	.sidebar li.active, .sidebar li:hover, .sidebar .selected {
		background-color:#DEDEDE;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border: 0 solid;
		border-radius:10px;
		color:#B61634;
	}
	
	.sidebar a {
		text-decoration:none;
		color:#7D7D7D;
		display: block;
	}

	@-moz-document url-prefix(){ 
		.sidebar a{
			display: inline-block;
		}
	}

	@-moz-document url-prefix(){ 
		.sidebar li {
			padding: 3px 2px;
		}
	}
	
	.sidebar a:hover {
		color: #B61634;
	}

	.sidebar .splitter, .sidebar .headline {
		background-color:#7DB414;
		font-size: 15px;
		font-weight: bold;
		color: #F4F4F4;
		height: 18px;
		padding: 4px 10px;
	}
	
	.sidebar .splitter {
		margin-top: 8px;
	}
	
	.sidebar .headline {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;

	}
	
	.sidebar .menu-children {
  	padding: 1px 10px 0 10px;
	}
	
	.sidebar .menu-children li {
  	padding: 1px 5px;
	}
	
	
	/* Style sheet private_left_side */
	#navigation_private_akt {
		background-color:#F5F5F5;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
	}
	
	#navigation_private_akt h1 {
		width:200px;
		margin:0;
		padding:5px 20px;
		background-color:#7DB414;
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		color:#fff;
	}
	
	#navigation_private_akt ul {
		margin:0;
		padding:10px 5px;
		list-style-position:inside;
	}
	
	#navigation_private_akt li {
		padding-top:3px;
		padding-bottom:3px;
		padding-left:20px;
		list-style-type:disc;
	}
	
	#navigation_private_akt li.active,#navigation_private_akt li:hover {
		background-color:#DEDEDE;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		color:#B61634;
	}
	
	#navigation_private_akt a {
		text-decoration:none;
		color:#7D7D7D;
	}
	
	
/* Navigation */			
	#navigation_mashups {
		right:0;
		top:180px;
		position:absolute;
	}
	
	#navigation_mashups a {
		display:block;
		font-size:13pt;
		color:#fff;
	}
	
	#navigation_mashups a:hover {
		margin-bottom:5px;
		font-weight:bold;
	}
	
	#navigation_mashups ul {
		margin:0;
		padding-left:0;
	}
	
	#navigation_mashups li {
		width:135px;
		height:20px;
		float:left;
		padding-top:5px;
		padding-bottom:5px;
		text-align:center;
		vertical-align:middle;
		background-color:#7D7D7D;
	}
	
	#navigation_mashups li:hover {
		padding-bottom:7px;
		-moz-border-radius-bottomleft:5px;
		-webkit-border-bottom-left-radius:5px;
		border-bottom-left-radius:5px;
	}
	
	#navigation_mashups li.first:hover {
		-moz-border-radius-bottomright:5px;
		-webkit-border-bottom-right-radius:5px;
		border-bottom-right-radius:5px;
	}
	
	#navigation_mashups li.first {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	
	#navigation_mashups li.last {
		border-left:1px solid #fff;
	}
		
	#header_bg_bar {
		width:70.1%;
		height:25px;
		left:30%;
		position:absolute;
		background-color:#7DB414;
		top:140px;
	}
	
	#main_navigation {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
	
	#main_navigation .account_menu {
		margin-top: -25px;		
	}
	
	#main_navigation ul {
		margin:0;
		padding-left:0;
	}
	
	#main_navigation li a {
		width:120px;
		height:15px;
		float:left;
		padding-top:3px;
		padding-bottom:7px;
		text-align:center;
		background-color:#7DB414;
		font-size:15px;
		color:#fff;
		list-style-type:none;
		display:block;
		text-decoration:none;
		color:#fff;
	}
	
	#main_navigation li a.first {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	
	#main_navigation li a.selected {
		padding-bottom:12px;
		margin-bottom: -7px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-bottom-right-radius:5px;
		border-bottom-right-radius:5px;
		-moz-border-radius-bottomleft:5px;
		-webkit-border-bottom-left-radius:5px;
		border-bottom-left-radius:5px;
		font-weight:bold;
	}
	
	#main_navigation li a:hover {
		padding-bottom:14px;
		margin-bottom: -7px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-bottom-right-radius:5px;
		border-bottom-right-radius:5px;
		-moz-border-radius-bottomleft:5px;
		-webkit-border-bottom-left-radius:5px;
		border-bottom-left-radius:5px;
		font-weight:bold;
	}
	
	#main_navigation li.active:hover {
		padding-bottom:10px;
	}
	
	#navigation li {
		padding-right: 10px;
	}

	#navigation li a {
		color: #7D7D7D;
		font-size: 12px;
		font-weight: normal;
		display: block;
		margin-top: 6px;
		padding-right:10px;
		border-right:1px solid #7D7D7D;
	}

	#navigation li a:hover {
		color: #AD283D;
	}
	
	#navigation li a.withnoborder {
		padding-right: 0px;
		border: none;
	}
	
	h1, h2 {
		margin-top:0;
		font-size:22px;
		color: #7D7D7D;
	}
	
	h3 {
		font-size:15px;
		color: #7DB414;
	}
	
	#wrapper {
		background-color: #fff;
	}

	#container {
		background-color: #fff
	}
	
	fieldset {
		margin-bottom:10px;
		border:2px solid #F0F0F0;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		padding: 3px 20px 10px 20px;
		background-color: #FAFAFA;
	}

	fieldset legend {
		font-size:13pt;
		margin-left: -10px;
	}
	
	label {
		padding-right: 5px;
	}

	fieldset label {
		width: 48%;
		display: inline-block
	}
	
	textarea {
		width: 98%;
	}
	
	select#membership_project_id {
  	max-width: 550px;
	}
	
	#notified-projects p {
  	clear: both;
	}
	
	#modalbg {
  	height: 0px !important;
	}
	
/* profile layout */	
	.block-receiver .mypage-box{
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
		border: solid 1px #F5F5F5;
		margin-top: 10px;
	}
	
	.block-receiver .handle {
		padding: 10px;
		display: block;
	}

	.block-receiver .handle h3 {
		margin: 0px;
	}
	
	.block-receiver .mypage-box:hover {
		border: solid 1px #D7D7D7;
		cursor:move;
		background-color: #FAFAFA
	}
	
	#list-top .mypage-box {
		width: 180px;
		margin-right: 20px;
		float: left;
		overflow:hidden;
	}

	#list-top .mypage-box.last {
		margin-right: 0px;
	}
	
	#list-top .mypage-box h3 {
		margin-top: 0px;
		background-color: #E9E9E9;
		border: 0px solid black;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
		padding: 4px 10px;	
		color: #7D7D7D
	}
	
	#list-top .mypage-box ul {
		padding-left: 10px;
		background-image: url(../images/calender_bg.png);
		background-repeat: repeat;
		background-position-y: 16px;
		line-height: 15pt;
	}
		
	a.close-icon {
		display:block;
		margin-top:13px;
		overflow:hidden;
		width:12px;
		height:12px;
		background-repeat: no-repeat;
		cursor:pointer;
		background-image:url('../images/close.png');
	}
	
	a.close-icon:hover {
		background-image:url('../images/close_hl.png');
	}
	
	.distanceholder {
		width: 30px;
		display: inline-block;
	}
	
	
/* projects */
	#new_project label {
		padding-right: 5px;
		display: inline-block;
	}	
	
	#new_project label.floating {
		width:100px;
		display: inline-block;
	}
	
	#new_project input[type=text] {
		width:300px;
	}
	
	#new_project textarea {
		width: 98%;
	}
	
	#new_project em.info {
		display: block;
	}

	#projects_styled {
  	width: 150px;
  	margin-top: -0px;
	}
	
  .styled_select {
    display: inline;
    margin-top: 1px;
    position: absolute;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
  }

	.styled_select b {
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #B8B8B8;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
	  background: url('../images/select_down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

	#sidebar_left select {
  	width: 150px;
  	font-size: 12px;
	}
	
	.controller-my.action-page .mypage-box p {
  	max-height: 55px;
  	overflow: hidden;
	}
	
	.action-members fieldset {
	  padding-top: 3px;
	}

	.action-members .openUser, .action-members .sendMessage {
	  float: right;
  	width:13px;
  	height: 10px;
  	margin-left: 5px;
  	background-position: 50% 0%;
	}
	.action-members .openUser {
  	background-image: url("../images/show.png");
  }
  
	.action-members .sendMessage {
  	background-image: url("../images/sendmessage.png");
	}

	.action-members .openUser:hover, .action-members .sendMessage:hover {
  	background-position: 50% 100%;
	}

	.action-members #member_search {
  	width: 86%;
  	margin-top: -3px;
  	float: right;
  	margin-bottom: 20px;
	}
	
	.controller-users.action-show #main label {
  	width: 55px;
  	display: inline-block;
  	text-align: left;
	}

	.controller-users.action-show #main ul, .controller-projects.action-show #main ul {
	  margin-left: 0px;
	  padding-left: 0px;
	}

	.controller-users.action-show .user_information_main {
	  float: left;
	  margin-left: 30px;
	}

	.controller-users.action-show h4 {
	 margin-bottom: 2px;
	}
	
	.controller-users.action-show dl {
    margin-top: 2px;
	}

	.controller-projects.action-show div.wiki {
  	margin-bottom: 30px;
	}	
		
	.controller-projects.action-show div.wiki p {
  	font-style: italic;
  	padding: 0 20px;
  	text-justify: block;
	}

	.controller-projects.action-show div.wiki ul {
	   padding-left: 20px !important;
	}
	
	
	.controller-issues.action-show #issue_project_id {
  	width: 300px;
	}
	
	
        #css
        .jbar{
            height:50px;
            width:100%;
            position:fixed;
            text-align:center;
            left:0px;
            z-index:9999999;
            margin:0px;
            padding:0px;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=92);
            opacity: 0.92;
            -moz-opacity: 0.92;
            -moz-box-shadow: #555 0px 0px 5px;
            box-shadow: #555 0px 0px 5px;
        }

        .jbar-top{
            top:0px;
        }

        .jbar-bottom{
            bottom:0px;
        }

        .jbar-content{
            line-height:46px;
            font-size: 18px;
        }

        .jbar-top a.jbar-cross{
            top:8px;
        }

        .jbar-bottom a.jbar-cross{
            bottom:8px;
        }
