#wrapper {
	background-color: #fff;
}

#container {
	background-color: #fff
}
	
fieldset {
	margin-bottom:10px;
	border:2px solid #F0F0F0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 3px 20px 10px 20px;
	background-color: #FAFAFA;
}

fieldset legend {
	font-size:13pt;
	margin-left: -10px;
}
	
label {
	padding-right: 5px;
}

fieldset label {
  clear: left;
	display: inline-block
}
	
textarea {
	width: 98%;
}
	
#notified-projects p {
	clear: both;
}
	
#modalbg {
	height: 0px !important;
}
	
/* profile layout */	
	.block-receiver .mypage-box{
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
		border: solid 1px #F5F5F5;
		margin-top: 10px;
	}
	
	.block-receiver .handle {
		padding: 10px;
		display: block;
	}

	.block-receiver .handle h3 {
		margin: 0px;
	}
	
	.block-receiver .mypage-box:hover {
		border: solid 1px #D7D7D7;
		cursor:move;
		background-color: #FAFAFA
	}
	
	#list-top .mypage-box {
		width: 180px;
		margin-right: 20px;
		float: left;
		overflow:hidden;
	}

	#list-top .mypage-box.last {
		margin-right: 0px;
	}
	
	#list-top .mypage-box h3 {
		margin-top: 0px;
		background-color: #E9E9E9;
		border: 0px solid black;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
		padding: 4px 10px;	
		color: #7D7D7D
	}
	
	#list-top .mypage-box ul {
		padding-left: 10px;
		background-image: url(../images/calender_bg.png);
		background-repeat: repeat;
		background-position-y: 16px;
		line-height: 15pt;
	}
		
	a.close-icon {
		display:block;
		margin-top:13px;
		overflow:hidden;
		width:12px;
		height:12px;
		background-repeat: no-repeat;
		cursor:pointer;
		background-image:url('../images/close.png');
	}
	
	a.close-icon:hover {
		background-image:url('../images/close_hl.png');
	}
	
	.distanceholder {
		width: 30px;
		display: inline-block;
	}
	
	
/* projects */
select#membership_project_id {
	max-width: 550px;
}

	#new_project label {
		padding-right: 5px;
		display: inline-block;
	}	
	
	#new_project label.floating {
		width:170px;
		display: inline-block;
	}
	
	#new_project #project_name {
  	width: 520px;
	}
	
	#new_project #project_homepage {
		width: 460px;
	}
	
	#new_project textarea {
		width: 98%;
	}
	
	#new_project em.info {
		display: block;
	}

	#projects_styled {
  	width: 150px;
  	margin-top: -0px;
	}
	
  .styled_select {
    display: inline;
    margin-top: 1px;
    position: absolute;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
  }

	.styled_select b {
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #B8B8B8;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
	  background: url('../images/select_down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

	#sidebar_left select {
  	width: 150px;
  	font-size: 12px;
	}
	
	.controller-my.action-page .mypage-box p {
  	max-height: 55px;
  	overflow: hidden;
	}
	
	.action-members fieldset {
	  padding-top: 3px;
	}

	.action-members .openUser, .action-members .sendMessage {
	  float: right;
  	width:13px;
  	height: 10px;
  	margin-left: 5px;
  	background-position: 50% 0%;
	}
	.action-members .openUser {
  	background-image: url("../images/show.png");
  }
  
	.action-members .sendMessage {
  	background-image: url("../images/sendmessage.png");
	}

	.action-members .openUser:hover, .action-members .sendMessage:hover {
  	background-position: 50% 100%;
	}

	.action-members #member_search {
  	width: 86%;
  	margin-top: -3px;
  	float: right;
  	margin-bottom: 20px;
	}

	.controller-users label {
	  width: 50px;
	}
	
	.controller-users.action-show #main label {
  	width: 55px;
  	display: inline-block;
  	text-align: left;
	}

	.controller-users.action-show #main ul, .controller-projects.action-show #main ul {
	  margin-left: 0px;
	  padding-left: 0px;
	}
	
  input[type=submit] {
  	float: right;
	}

	.controller-users.action-show .user_information_main {
	  float: left;
	  margin-left: 30px;
	}

	.controller-projects.action-show #subprojects {
  	margin-top: 10px;
  	font-size: 16px;
	}

	.controller-users.action-show h4 {
	 margin-bottom: 2px;
	}
	
	.controller-users.action-show dl {
    margin-top: 2px;
	}

	.controller-projects.action-show div.wiki {
  	margin-bottom: 30px;
	}	
		
	.controller-projects.action-show div.wiki p {
  	font-style: italic;
  	padding: 0 20px;
  	text-justify: block;
	}

	.controller-projects.action-show div.wiki ul {
	   padding-left: 20px !important;
	}
	
	.controller-projects.action-index #main ul {
  	margin: 0;
  	padding: 0;
	}  

	.controller-projects.action-index #main div {
  	margin-left: 20px;
	}

	.controller-projects.action-index ul.projects a.project {
  	margin-bottom: 1em;
  	display: block;	
	}
	
	.controller-projects.action-index ul.projects a.project::before {
  	content:"\2022";
  	padding-right: 5px;
  }
		
	.controller-projects.action-index #main div.root {
  	margin-left: 0px;
	}  
	
	.controller-projects.action-index #main div.description {
  	margin: 0 0 20px 20px;
	}
	

	.controller-issues.action-show #issue_project_id {
  	max-width: 527px;
	}
	
	
	
	/* Issues */
	
.filter label, .add-filter label{
  display: inline-block;
  width: auto;
}

select.values_project_id {
  max-width: 200px;
}

select#time_entry_project_id, select#project_parent_id {
  max-width: 400px;
}

.selectors {
  float: left;
  margin-top: 10px;
}

.selectors label {
  width: auto;
}

.issue .tracker {
  padding-top: 10px;
  margin-top: 30px;
  font-size: 15px;
  color: #7DB414;
  border-top: 1px solid #D3D3D3;
}

#history {
  padding: 1em 20px 1.5em 20px;
}

#history legend {
  color: #7DB414;
}

#history ul {
  margin: 0 0 3px 10px;
  padding: 0 0 3px 10px;
}

.contextual {
  float: right;
}

.issues .status {
  width: 200px;
}

.issues label {
  font-weight: 600;
}

.issues a {
  text-decoration: none;
#  color: #7D7D7D;
}

.issues a:hover {
  text-decoration: underline;
}

.issues li {
  margin-bottom: 10px;
  border: 2px solid #F0F0F0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;  
}

.issues li:hover {
  border-color: #d0d0d0;
}

.issues .childissue {
  background-image: url('../images/issue_child.png');
  padding-left: 20px;
  background-repeat: no-repeat;
}

.issues .assigned-to-me {
  background-color: #FAFAFA;
}

.progress {
  margin-right:10px;
}

.progress div {
  margin-top: 1px;
  height: 10px;
  display: inline-block;
}

.progress div.todo {
  background-color: #fad9d9;
}

.progress div.closed, .progress div.done {
  background-color: #7DB414;
}


.issue #issue_tree td {
  padding-right: 10px;
}

#issue_is_private {
  float: right;
  padding: 5px 3px;
}

.edit_issue fieldset label {
  width: 120px;
}

.edit_issue #issue_estimated_hours, .edit_issue #time_entry_hours {
  width: 30px;
}

.edit_issue #issue_subject, .edit_issue #time_entry_comments {
  width: 400px;
}

.next-prev-links .prev, .next-prev-links .next {
  background-color: #FAFAFA;
  float: left;
  border: 2px solid #D3D3D3;
  font-size: 12px;
}

.next-prev-links .position {
  background-color: #FAFAFA;
  float: left;
  border: solid #D3D3D3;
  font-size: 14px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  color: #7D7D7D;
  padding:  1px 20px;
}

.next-prev-links .prev {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -khtml-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  border-bottom-width: 0px;
}

.next-prev-links .next {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -khtml-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  border-bottom-width: 0px;
}

.next-prev-links .prev:hover, .next-prev-links .next:hover {
  background-color: #DEDEDE;
}

.next-prev-links .first:hover, .next-prev-links .last:hover {
  background-color: #FAFAFA;
}

.next-prev-links a {
  color: #7D7D7D;
}

.next-prev-links .first, .next-prev-links .last {
  color: #a9a9a9;
}

.next-prev-links a, .next-prev-links .first, .next-prev-links .last {
  text-decoration: none;
  display: block;
  padding: 3px 15px;
}
	
.next-prev-links {
  margin-top: -23px;
  float: right;
}

.next-prev-links div, .next-prev-links span, .buttons div {
  float: left;
}

.buttons {
  float: right;
}

.icon-lock {
  height: 20px;
  width: 35px;
  display: inline-block;
  background: url(../images/lock_unlock.png);
  background-repeat: no-repeat;
  background-position: 50% -20%;
}

.icon-lock:hover {
  background-position: 50% 100%;
  text-decoration: none;
}

.icon-unlock {
  height: 20px;
  width: 35px;
  display: inline-block;
  background: url(../images/lock_unlock.png);
  background-repeat: no-repeat;
  background-position: 50% 120%
}

.icon-unlock:hover {
  background-position: 50% 0%;
  text-decoration: none;
}