#wrapper {
	background-color: #fff;
}

#container {
	background-color: #fff
}
	
fieldset {
	margin-bottom:10px;
	border:2px solid #F0F0F0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 3px 20px 10px 20px;
	background-color: #FAFAFA;
}

fieldset legend {
	font-size:13pt;
	margin-left: -10px;
}
	
label {
	padding-right: 5px;
}

fieldset label {
  clear: left;
	display: inline-block
}
	
textarea {
	width: 98%;
}
	
#notified-projects p {
	clear: both;
}
	
#modalbg {
	height: 0px !important;
}
	
/* /* !---------- profile layout ------------ */	
	.block-receiver .mypage-box{
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
		border: solid 1px #F5F5F5;
		margin-top: 10px;
	}
	
	.block-receiver .handle {
		padding: 10px;
		display: block;
	}

	.block-receiver .handle h3 {
		margin: 0px;
	}
	
	.block-receiver .mypage-box:hover {
		border: solid 1px #D7D7D7;
		cursor:move;
		background-color: #FAFAFA
	}
	
	#list-top .mypage-box {
		width: 180px;
		margin-right: 20px;
		float: left;
		overflow:hidden;
	}

	#list-top .mypage-box.last {
		margin-right: 0px;
	}
	
	#list-top .mypage-box h3 {
		margin-top: 0px;
		background-color: #E9E9E9;
		border: 0px solid black;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
		padding: 4px 10px;	
		color: #7D7D7D
	}
	
	#list-top .mypage-box ul {
		padding-left: 10px;
		background-image: url(../images/calender_bg.png);
		background-repeat: repeat;
		background-position-y: 16px;
		line-height: 15pt;
	}
		
	a.close-icon {
		display:block;
		margin-top:13px;
		overflow:hidden;
		width:12px;
		height:12px;
		background-repeat: no-repeat;
		cursor:pointer;
		background-image:url('../images/close.png');
	}
	
	a.close-icon:hover {
		background-image:url('../images/close_hl.png');
	}
	
	.distanceholder {
		width: 30px;
		display: inline-block;
	}
	
	
/* /* !---------- projects ---------- */
select#membership_project_id {
	max-width: 550px;
}

	#new_project label {
		padding-right: 5px;
		display: inline-block;
	}	
	
	#new_project label.floating {
		width:170px;
		display: inline-block;
	}
	
	#new_project #project_name {
  	width: 520px;
	}
	
	#new_project #project_homepage {
		width: 460px;
	}
	
	#new_project textarea {
		width: 98%;
	}
	
	#new_project em.info {
		display: block;
	}
	
	.controller-my.action-page .mypage-box p {
  	max-height: 55px;
  	overflow: hidden;
	}
	
	.action-members fieldset {
	  padding-top: 3px;
	}

	.action-members .openUser, .action-members .sendMessage {
	  float: right;
  	width:13px;
  	height: 10px;
  	margin-left: 5px;
  	background-position: 50% 0%;
	}
	.action-members .openUser {
  	background-image: url("../images/show.png");
  }
  
	.action-members .sendMessage {
  	background-image: url("../images/sendmessage.png");
	}

	.action-members .openUser:hover, .action-members .sendMessage:hover {
  	background-position: 50% 100%;
	}

	.action-members #member_search {
  	width: 86%;
  	margin-top: -3px;
  	float: right;
  	margin-bottom: 20px;
	}

	.controller-users label {
	  width: 50px;
	}
	
	.controller-users.action-show #main label {
  	width: 55px;
  	display: inline-block;
  	text-align: left;
	}

	.controller-users.action-show #main ul, .controller-projects.action-show #main ul {
	  margin-left: 0px;
	  padding-left: 0px;
	}
	
  input[type=submit] {
  	float: right;
	}

	.controller-users.action-show .user_information_main {
	  float: left;
	  margin-left: 30px;
	}

	.controller-projects.action-show #subprojects {
  	margin-top: 10px;
  	font-size: 16px;
	}

	.controller-users.action-show h4 {
	 margin-bottom: 2px;
	}
	
	.controller-users.action-show dl {
    margin-top: 2px;
	}

	.controller-projects.action-show div.wiki {
  	margin-bottom: 30px;
	}	
		
	.controller-projects.action-show div.wiki p {
  	font-style: italic;
  	padding: 0 20px;
  	text-justify: block;
	}

	.controller-projects.action-show div.wiki ul {
	   padding-left: 20px !important;
	}
	
	.controller-projects.action-index #main ul {
  	margin: 0;
  	padding: 0;
	}  

	.controller-projects.action-index #main div {
  	margin-left: 20px;
	}

	.controller-projects.action-index ul.projects a.project {
  	margin-bottom: 1em;
  	display: block;	
	}
	
	.controller-projects.action-index ul.projects a.project::before {
  	content:"\2022";
  	padding-right: 5px;
  }
		
	.controller-projects.action-index #main div.root {
  	margin-left: 0px;
	}  
	
	.controller-projects.action-index #main div.description {
  	margin: 0 0 20px 20px;
	}	
	
	
/* /* !---------- Filter ------------ */
	
.filter label, .add-filter label{
  display: inline-block;
  width: auto;
}

select.values_project_id {
  max-width: 200px;
}

.selectors {
  float: left;
  margin-top: 10px;
}

.selectors label {
  width: auto;
}

#history {
  padding: 1em 20px 1.5em 20px;
}

#history legend {
  color: #7DB414;
}

#history ul {
  margin: 0 0 3px 10px;
  padding: 0 0 3px 10px;
}

.buttons {
  float: right;
}

.buttons div {
  float: left;
}

/* !---------- fileupload ---------- */

#attachments_fields fieldset {
  padding-top: 10px;
}

#attachments_fields legend {
  color: #A1A1A1;
}

#attachments_fields .fileselected legend {
  color: #7D7D7D;
}

#attachments_fields input[type=text], #attachments_fields textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e3e2e2;
}

#attachments_fields input.file {
  position: absolute;
  -moz-opacity:0;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
  width: 230px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
}

#attachments_fields .cover_input {
  position: relative;
  z-index: 10;
  width: 45%;
}

#attachments_fields .fileupload {
  z-index: 10;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg,#7DB414,#759B68);
  background-image: linear-gradient(90deg,#7DB414,#759B68);
  background-image: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0,#759B68),color-stop(1,#7DB414));
  background-image: -o-linear-gradient(90deg,#7DB414,#759B68);
  color: #ffffff;
  width: 100%;
  padding: 5px;
  text-align: center;
  float: left;
  cursor: pointer;
}

#attachments_fields .fileupload hover {
  background-color: #E9E9E9;
}

#attachments_fields .fileselected .fileupload  {
  background-image: -moz-linear-gradient(90deg,#E9E9E9,#F1F1F1);
  background-image: linear-gradient(90deg,#E9E9E9,#F1F1F1);
  background-image: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0,#E9E9E9),color-stop(1,#F1F1F1));
  background-image: -o-linear-gradient(90deg,#E9E9E9,#F1F1F1);
  color: #7D7D7D;
}

#attachments_fields .deleteButton {
  position: relative;
  float: right;
  margin-right: -15px;
  margin-top: -27px;
}

#attachments_fields .deleteButton a {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url(../images/close.png);
}

#attachments_fields .deleteButton a:hover {
  background-image: url(../images/close_hl.png);
}

#attachments_fields .descr {
  float: right;
  width: 50%;
  margin-left: 10px;
}

#attachments_fields .description {
  height: 60px;
}

#attachments_fields .meta {
  margin-top: -32px;
  width: 46%;
}

#attachments_fields .meta_information {
  width: 100%;
}

.add_attachment.disabled, .deleteButton.disabled {
  display: none;
  visibility: hidden;
}

.add_attachment a {
  display: block !important;
  height: 30px;
  width: 60px;
}

div.add_attachment {
  display: block;
  margin-left:25px;
  background-color: #7DB414;
  color: #ffffff;
  width: 60px;
  height: 30px;
  text-align: center;
  margin-top: -25px;
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  text-decoration: none;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

div .add_attachment:hover {
  text-decoration: none;
  background-color: #E9E9E9;
}