#wrapper {
	background-color: #fff;
}

#container {
	background-color: #fff
}
	
fieldset {
	margin-bottom:10px;
	border:1px solid #DDD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 7px 15px 7px 15px;
	background-color: #FAFAFA;
}

fieldset legend {
	font-size:13pt;
}
	
fieldset.collapsable legend {
  cursor: pointer;
  padding-right: 15px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url('/images/breadcrumb_arrow_down_green.png');
}

fieldset.collapsable legend:hover {
  color: #538d00;
  background-image: url('/images/breadcrumb_arrow_down_green.png') !important;
}

fieldset.collapsable.collapsed legend {
  background-image: url('/images/breadcrumb_arrow_right_green.png');
}
	
label {
	padding-right: 5px;
}

fieldset label {
  clear: left;
	display: inline-block
}
	
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: inline-block;
  padding: 2px 4px;
//  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
}

a.disabled {
  color: #888 !important;
  cursor: default;
}

textarea {
	width: 98%;
}
	
#notified-projects p {
	clear: both;
}
	
#modalbg {
	height: 0px !important;
}

.contextual {
  float: right;
}

.link_to_news legend {
  margin-bottom: -15px;
  font-size: 12px;
  text-align: right;
}

.link_to_news, .link_to_news h3 {
  color: #707070;
  margin-top: 10px;
}

.link_to_news:hover {
  text-decoration: none;
}

.link_to_news fieldset:hover {
  background-color: #F4F4F4;
}

.news_wrapper {
  padding: 0px 10px 5px 10px;
  border: solid 2px #F0F0F0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}	

.news_wrapper h2 {
  padding-top: 15px;
  font-size: 16px;
}

.comment p {
  margin: 5px;
}

.comment legend {
  font-size: 14px;
}

.comment .contextual {
  margin-top: -20px;
}

#titleOfProject {
  position: absolute;
  top: 35px;
  margin-left: -180px;
  width: 750px;
}

#titleOfProject a {
  color: #707070;
  text-decoration: none;
}

/* !---------- profile layout ------------ */	

  .block-receiver.ui-sortable fieldset:hover {
    border-color: #cbeb90 !important;
  }
  
	.block-receiver .mypage-box{
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
		border: solid 1px #F5F5F5;
		transition: all 2s;
    -webkit-transition: all .5s;
	}
	
	.block-receiver .handle {
		padding: 10px;
		display: block;
	}

	.block-receiver .handle h3 {
		margin: 0px;
	}
	
	.block-receiver .mypage-box:hover {
		border: solid 1px #D7D7D7;
		cursor:move;
		background-color: #F4F4F4 !important;
	}
	
	#list-top .mypage-box {
		margin-bottom: 20px;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
		border: solid 2px #F0F0F0;
		background-color: #FAFAFA;
		padding:10px;
	}

	#list-top .mypage-box div, #list-top .mypage-box form {
	 padding: 0 20px;
  }
	
	#list-top .mypage-box div.calendar {
		border: solid 1px #F0F0F0 !important;
	}

	#list-top .mypage-box .small {
  	background-color: #F0F0F0;
  	text-align: center;
  	padding: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-khtml-border-radius: 5px;
  	border-radius: 5px;
  	margin: 10px 120px;
	}

	#list-top .mypage-box .small:hover {
	  background-color: #7DB414;
	}	

	#list-top .mypage-box .small a {
	 color: #707070;
	 text-decoration: none;
	}

	#list-top .mypage-box .small:hover a {
	  color: #FFFFFF;
	}	

	#list-top .mypage-box.last {
		margin-right: 0px;
	}
	
	#list-top .mypage-box h3 {
		margin-top: 0px;
		background-color: #E9E9E9;
		border: 0px solid black;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
		padding: 4px 10px;	
		color: #707070
	}
	
	#list-top .mypage-box ul {
		padding-left: 10px;
		background-image: url(../images/calender_bg.png);
		background-repeat: repeat;
		background-position-y: 16px;
		line-height: 15pt;
	}
	
	#list-top .mypage-box .linkToInfo a {
  	color: #ffffff;
  	text-decoration: none;
	}

	#list-top .mypage-box .linkToInfo a:hover {
  	color: #bcd7ff;
  	text-decoration: none;
	}

		
	a.close-icon {
		display:block;
		margin-top:13px;
		overflow:hidden;
		width:12px;
		height:12px;
		background-repeat: no-repeat;
		cursor:pointer;
		background-image:url('../images/close.png');
	}
	
	a.close-icon:hover {
		background-image:url('../images/close_hl.png');
	}
	
	.distanceholder {
		width: 30px;
		display: inline-block;
	}
	

/* !---------- projects ---------- */

.wiki.note {
  background-color: #FEFEFE;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #F0F0F0;
  margin-bottom: 5px;
}

#issue_project_id {
  width: 100%;
}
.time-entry.odd {
  background-color: #FAFAFA;
}

.time-entry:hover {
  background-color: #F0F0F0;
}

.time-entry.odd td {
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}

#time_entry_project_id {
  width: 100%; 
}

select#membership_project_id {
	max-width: 550px;
}

	#new_project label {
		padding-right: 5px;
		display: inline-block;
	}	
	
	#new_project label.floating {
		width:170px;
		display: inline-block;
	}
	
	#new_project #project_name {
  	width: 520px;
	}
	
	#new_project #project_homepage, #project_parent_id {
		width: 460px;
	}
	
	#new_project textarea {
		width: 98%;
	}
	
	#new_project em.info {
		display: block;
	}
	
	.controller-my.action-page .mypage-box p {
    margin-bottom: 5px;
    margin-top: 0;
	}
	
	.action-members fieldset {
	  padding-top: 3px;
	}
	
	#tab-content-members .member.edit {
  	background-color: #F9F9F9;
	}
	#tab-content-members .member.edit td {
	  padding-bottom: 5px;
	  padding-top: 5px;
  }
	  	
	.action-members .openUser, .action-members .sendMessage, .action-members .addUser, .action-members .deleteUser {
	  float: right;
  	width:13px;
  	height: 10px;
  	margin-left: 5px;
  	background-position: 50% 0%;
	}
	.action-members .openUser {
  	background-image: url("../images/show.png");
  }
  
	.action-members .sendMessage {
  	background-image: url("../images/sendmessage.png");
	}

	.action-members .addUser {
  	background-image: url("../images/adduser.png");
	}

	.action-members .deleteUser {
  	background-image: url("../images/deleteuser.png");
	}

	.action-members .openUser:hover, .action-members .sendMessage:hover, .action-members .deleteUser:hover, .action-members .addUser:hover {
  	background-position: 50% 100%;
	}

	.action-members #member_search {
  	width: 85%;
  	margin-top: -3px;
  	float: right;
	}
	
	.action-members #ausgabe {
  	margin-top: 20px;
	}
	
	.new_membership p label {
  	width: 200px !important;
	}
	
	.controller-users label {
	  width: 50px;
	}
	
	.controller-users.action-show #main label {
  	width: 55px;
  	display: inline-block;
  	text-align: left;
	}

	.controller-users.action-show #main ul, .controller-projects.action-show #main ul {
	  margin-left: 0px;
	  padding-left: 0px;
	}
	
  input[type=submit] {
  	float: right;
	}

	.controller-users.action-show .user_information_main {
	  float: left;
	  margin-left: 30px;
	}

	.controller-friendships .user_information_main label {
	 width: 55px;
	 display: inline-block;
  }
  
  .controller-friendships ul {
    padding-left: 0;
    margin-left: 0;
  }
  
	.controller-projects.action-show #subprojects {
  	margin-top: 10px;
  	font-size: 16px;
	}

	.controller-users.action-show h4 {
	 margin-bottom: 2px;
	}
	
	.controller-users.action-show dl {
    margin-top: 2px;
	}
			
/* /* !---------- Filter ------------ */
	
.filter label, .add-filter label{
  display: inline-block;
  width: auto;
}

select.values_project_id {
  max-width: 200px;
}

select#values_project_id_1 {
  max-width: 330px;
}

.selectors {
  float: left;
  margin-top: 10px;
}

.selectors label {
  width: auto;
}

#history ul {
  margin: 0 0 3px 10px;
  padding: 0 0 3px 10px;
}

.buttons, .buttons a {
  float: right;
}

.buttons div {
  float: left;
}

.explanation {
  float: right;
  margin-top: -20px;
  font-size: 12px;
  color: #c9c9c9;
}

/* !---------- fileupload ---------- */
#attachments_fields {
  margin-top: 10px;
}

#attachments_fields fieldset {
  padding-top: 10px;
}

#attachments_fields .toToggle {
  height: auto;
}

#attachments_fields .fileselected input.file {
  display: none;
  visibility: hidden;
}

#attachments_fields .fileselected legend {
  color: #707070;
}

#attachments_fields input[type=text], #attachments_fields textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e3e2e2;
}

#attachments_fields input.file {
  position: absolute;
  -moz-opacity:0;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
  width: 230px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
}

#attachments_fields .cover_input {
  width: 43%;
}

#attachments_fields .fileupload {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg,#7DB414,#759B68);
  background-image: linear-gradient(90deg,#7DB414,#759B68);
  background-image: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0,#759B68),color-stop(1,#7DB414));
  background-image: -o-linear-gradient(90deg,#7DB414,#759B68);
  color: #ffffff;
  width: 100%;
  padding: 5px;
  text-align: center;
  float: left;
  cursor: pointer;
}

#attachments_fields .editfilename {
  visibility: hidden;
  display: none;
}

#attachments_fields .fileselected .editfilename {
  float: left;
  width: 100%;
  display: inline-block;
  visibility: visible;
}

#attachments_fields .editfilename span {
  padding-top: 6px;
  display: inline-block;
}

#attachments_fields .editfilename input.userinput {
  float: left;
  width: 88%;
  padding: 5px 0px;
  z-index: 10;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;  
  border: 1px solid #e3e2e2;
  margin-top: 0px;
  text-align: right;
}

#attachments_fields .fileupload hover {
  background-color: #E9E9E9;
}

#attachments_fields .fileselected .btn  {
  visibility: hidden;
  display: none;
}

#attachments_fields .fileselected .toggleButton {
  display: block;
  visibility: visible;
}

#attachments_fields .toggleButton {
  display: none;
  visibility: hidden;
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: -27px;
}

#attachments_fields .toggleButton a {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url(../images/1downarrow.png);
}

#attachments_fields .toggleButton a:hover {
  background-image: url(../images/arrow_expanded.png);
}

#attachments_fields .deleteButton {
  position: relative;
  float: right;
  margin-right: -15px;
  margin-top: -27px;
}

#attachments_fields .deleteButton a {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url(../images/close.png);
}

#attachments_fields .deleteButton a:hover {
  background-image: url(../images/close_hl.png);
}

#attachments_fields .descr {
  float: right;
  width: 50%;
  margin-left: 10px;
}

#attachments_fields .description {
  height: 60px;
}

#attachments_fields .meta {
  margin-top: -32px;
  width: 46%;
}

#attachments_fields .meta_information {
  width: 100%;
}

.add_attachment.disabled, .deleteButton.disabled {
  display: none;
  visibility: hidden;
}

.add_attachment a {
  display: block !important;
  height: 30px;
  width: 60px;
}

div.add_attachment {
  float: left;
  display: block;
  margin-left:20px;
  background-color: #7DB414;
  color: #ffffff;
  width: 60px;
  height: 25px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 10px;
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  text-decoration: none;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

div .add_attachment:hover {
  text-decoration: none;
  background-color: #E9E9E9;
}

.fileselected.collapsed {
  border: none;
  padding: 0px 5px;
}


#sitespecivic .status {
  float:right; 
  padding-right:10px; 
  margin-top: 5px;
  font-style: italic;
}

#sitespecivic .people {
  padding-left: 7px;
}

#sitespecivic .people ul {
  list-style: circle;
  padding-top: 0px;
}
#sitespecivic .people li {
  padding-left: 3px;
}

/*----------- Documents ---------------------------- */

#documents div.wiki::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0px;
  left: 30px;
  top: -20px;
  border: 10px solid;
  border-color: transparent transparent #DDD transparent;
}

#documents div.wiki::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 3px;
  left: 30px;
  top: -21px;
  border: 10px solid;
  border-color: transparent transparent #FAFAFA transparent;
}

#documents .wiki {
  margin-top: -3px;
  margin-bottom: 10px;
  background: #FDFDFD;
  border: 1px solid #DDD;
  padding: 5px 7px;
  position: relative;
  color: #ADADAD;
}

.sort_buttons {
  padding-bottom: 20px;
}

.sort_buttons a:hover {
  text-decoration: none;
  background-color: #E9E9E9;
}

.sortby {
  padding: 5px 10px;
}

.sort_buttons .selected {
  color: #7DB414;
  background-color: #F4F4F4;
}

.sort_buttons .first a {
  border-left: 2px solid #F0F0F0;
}

.sort_buttons a {
  border-bottom: 2px solid #F0F0F0;
  border-right: 2px solid #F0F0F0;
  display: inline-block;
  padding: 5px 10px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  color: #707070;
}

.sort_buttons a.desc {
    background: #77a600;
    border-color: #7DB414;
    background: -moz-linear-gradient(top,  #bacea3 0%, #7DB414 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bacea3), color-stop(100%,#7DB414));
    background: -webkit-linear-gradient(top,  #bacea3 0%,#7DB414 100%);
    background: -o-linear-gradient(top,  #bacea3 0%,#7DB414 100%);
    background: -ms-linear-gradient(top,  #bacea3 0%,#7DB414 100%);
    background: linear-gradient(top, #bacea3 0%, #7DB414 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacea3', endColorstr='#77a600',GradientType=0 );
    color: white;
}

.sort_buttons a.asc {
    background: #77a600;
    border-color: #bacea3;
    background: -moz-linear-gradient(top,  #7DB414 0%, #bacea3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7DB414), color-stop(100%,#bacea3));
    background: -webkit-linear-gradient(top,  #7DB414 0%,#bacea3 100%);
    background: -o-linear-gradient(top,  #7DB414 0%,#bacea3 100%);
    background: -ms-linear-gradient(top,  #7DB414 0%,#bacea3 100%);
    background: linear-gradient(top, #7DB414 0%, #bacea3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7DB414', endColorstr='#bacea3',GradientType=0 );
    color: white;
}

.sort_buttons div {
  float:left;
  border-top: 1px solid #F0F0F0;
}

fieldset .attachments {
  background: #fff;
  padding: 11px 0 13px 0;
  border-radius: 10px;
  border: solid 2px #F4F4F4;
}


.attachments .attachement {
  margin: 4px 0 0 20px;
  height: 15px;
}

.attachments .fancybox {
  padding-bottom: 2px;
  padding-top: 3px;
  padding-left: 25px;
  background-repeat: no-repeat;
  font-weight: 700;
  color: #707070;
  background-image: url('/images/textfile.png');
}

.attachments .fancybox:hover {
  background-position: 0 100%;
  color: #7DB414;
  text-decoration: none;
}

.attachments .image {
  background-image: url('/images/picture.png');
}

.attachments .text, .attachments .rtf, .attachments .doc, .attachments .docx, .attachments .odt {
  background-image: url('/images/textfile.png');
}

.attachments .ppt, .attachments .odp, .attachments .pptx, .attachments .pps {
  background-image: url('/images/presentation.png');
}

.attachments .pdf {
  background-image: url('/images/pdf_file.png');
}

.attachments .xls, .attachments .xlsx, .attachments .ods {
  background-image: url('/images/sheet_file.png');
}

.attachments .zip, .attachments .rar, .attachments .tar, .attachments .gz {
  background-image: url('/images/archive_file.png');
}

.attachments .fileinfo {
  display:none;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 2px;
  border: 2px solid #F0F0F0;
}

.attachments .fileinfo.show {
  visibility: visible;
  display: block;
}

.attachments.filename {
  padding: 2px;
}

.attachement {
  padding: 2px 0;  
}

.attachement:hover .options {
  margin-top: -4px;
  margin-left:5px;
  display: inline-block !important;
}

.file .download, .file .delete, .attachement .download, .attachement .delete {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: 0 10%;
}

.attachement .download, .attachement .delete {  background-position: 0 -10%; }
.file .download, .attachement .download {background-image: url('/images/download2.png');}
.file .delete, .attachement .delete {background-image: url('/images/delete2.png');}
.file .download:hover, .file .delete:hover {background-position: 0 110%;}
.attachement .download:hover, .attachement .delete:hover {background-position: 0 90%;}

.files.list thead th {
  border-bottom: solid 1px #F0F0F0;
  padding-bottom: 5px;
}

.files.list tbody tr:first-child td {
  padding-top: 5px;
}


/* !---------- Dokumente -------------- */
.ui-tooltip-content .thumbnail {
  text-align: center;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #A0A0A0;
  margin-bottom: 3px;
}

.ui-tooltip-content .thumbnail img {
  width: 100%;
  height: 100%;
}

/* !---------- Breadcrumb ------------ */
.breadcrumb {
  position: absolute;
  margin-top: -55px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  z-index: 10;
}

.breadcrumb a {text-decoration: none;}

.breadcrumb li {
  background: url('/images/breadcrumb_arrow_right.png') right center no-repeat;;
  float: left;
  padding-right: 16px; 
}

.breadcrumb li.last_element {background: none;}
.breadcrumb li.has_submenu {background: url('/images/breadcrumb_arrow_right_green.png') right center no-repeat;}
.breadcrumb li.has_submenu:hover {background: url('/images/breadcrumb_arrow_down_green.png') right center no-repeat;}
.breadcrumb li:hover ul.bc_submenu {display: block;}

ul.bc_submenu {
  position: absolute;
  display: none;
  z-index: 11;
  background-color: #ffffff;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -khtml-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  border: 1px solid #F0F0F0;
  padding: 5px !important;
  -moz-box-shadow: 3px 3px 20px #000;
  -webkit-box-shadow: 3px 10px 20px #888;
  box-shadow: 0px 5px 10px #AAA;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000000');
  margin-left:-15px;
}

ul.bc_submenu a { color: #3F6219;}
ul.bc_submenu a:hover {color: #0066CC;}
ul.bc_submenu li:hover {background: url('/images/breadcrumb_arrow_right_green.png') left center no-repeat;}
ul.bc_submenu li {
  float: none;
  white-space: nowrap;
  background: url('/images/breadcrumb_arrow_right.png') left center no-repeat;;
  padding-left: 15px;
  padding-right: 0px;
}

#tab-content-info .cke_contents {
  height: 200px !important;
}

.issues .sort_buttons {
  padding-bottom: 20px;
}

.issues .sort_buttons a:hover {
  text-decoration: none;
  background-color: #E9E9E9;
}

.issues .sortby {
  padding: 5px 10px;
}

.issues .sort_buttons .sort.desc {
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #a9a9a9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#a9a9a9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#a9a9a9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#a9a9a9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#a9a9a9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#a9a9a9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#a9a9a9',GradientType=0 ); /* IE6-9 */
}

.issues .sort_buttons .sort.asc {
  background: #e9e9e9; /* Old browsers */
  background: -moz-linear-gradient(top,  #a9a9a9 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a9a9), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a9a9a9 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a9a9a9 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a9a9a9 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a9a9a9 0%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.issues .sort_buttons .first a {
  border-left: 2px solid #F0F0F0;
}

.issues .sort_buttons a {
  background-color: #FAFAFA;
  border-bottom: 2px solid #F0F0F0;
  border-right: 2px solid #F0F0F0;
  display: inline-block;
  padding: 5px 10px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  color: #707070;
}

.progress {
  margin-right:10px;
}

.progress div {
  margin-top: 1px;
  height: 10px;
  display: inline-block;
}

.progress div.todo {
  background-color: #fad9d9;
}

.progress div.closed, .progress div.done {
  background-color: #7DB414;
}

#ajax-indicator {
  position: fixed;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  width: 50px;
  margin-top: -15px;
  margin-left: -45px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  opacity: .75;
  -moz-opacity:0.75;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=750)";
  filter: alpha(opacity=750);
  -khtml-opacity: 0.75;
  
}

#filter {
  width:0px;
  height: 0px;
  left: 560px;
  position: absolute;
  overflow: hidden;
  display: block;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  background-color: #F4F4F4 !important;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -khtml-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;  
  margin-top:-17px;
  border: 0px solid #F0F0F0;
  margin-top: 5px !important;
  z-index: 99;
}

#filter.active {
  width: 235px;
  height: 160px;
  border: 2px solid #F0F0F0;
}

#activities_fieldset #filter label {
  clear: inherit;
}

#activities_fieldset #filter a {
  text-decoration: none;
  color: #707070;
  display: block;
  padding: 3px 2px;
}

.day {
  font-size: 18px;
  font-weight: bold;
}

#change_avatar_wrapper {
  display:none;
  z-index:900
}

#change_avatar {
  position:absolute;
  top:150px;
  left:50%;
  width:500px; 
  height:400px; 
  z-index:1000;
  margin-left: -225px;
}
#change_avatar .change_avatar_background {
  padding: 20px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  float: left;
  width: 430px;
}
#change_avatar .arrow_to_avatar {
  background-image: url('../images/arrow_right.png');
  float: left;
  width: 20px;
  height:40px;
  margin-top: 280px;
}
#avatar_preview {
  margin-top: 10px; 
  width:180px; 
  height:180px; 
  overflow:hidden;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #DBDBDB
}

#main fieldset .innerInfo.collapsed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s, padding .3s, margin .5s;
  -moz-transition: max-height .5s, padding .3s, margin .5s;
  -webkit-transition: max-height .5s, padding .3s, margin .5s;
  -o-transition: max-height .5s, padding .3s, margin .5s;
}

#main fieldset .innerInfo.open {
  height: auto;
}

#main fieldset .tools {
  right: 0px;
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: block;
  transition: width .5s;
  -moz-transition: width .5s;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition-delay: .5s;
  -moz-transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;  
  background-color: #EAEAEA;
  -moz-border-radius: 0 5px 5px 0px;
  -webkit-border-radius: 0 5px 5px 0px;
  -khtml-border-radius: 0 5px 5px 0px;
  border-radius: 0 5px 5px 0px;
}

#main fieldset.collapsed .tools, #main fieldset.has_collapsed .tools {
  width: 0px;
}

#main fieldset.has_collapsed:hover {
  background: #F5F5F5;  
}

#main fieldset.collapsed:hover .tools, #main fieldset.has_collapsed:hover .tools, #main fieldset.collapsed.selected .tools, #main fieldset.has_collapsed.selected .tools {
  width: 25px;
}

#main fieldset .tools div {
  border-bottom: solid 2px #E0E0E0;
  padding: 2px;
//  width: 25px;
//  height: 25px;
  display: block;
  text-align: center;
}

#main fieldset .tools div img {
  padding: 5px;
}

#main fieldset:hover .tools div:hover {
  background-color: #E0E0E0;
}

.paging_full_numbers .paginate_button, .paging_full_numbers .paginate_active {
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: inline-block;
  border: solid 1px #7DB414;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.paging_full_numbers .paginate_button:hover, .paging_full_numbers .paginate_active {
  background-color: #7DB414 !important;
  color: #fff;
}

.paging_full_numbers .first, .paging_full_numbers .last, .paging_full_numbers .next, .paging_full_numbers .previous {
	background-image: url(../images/ui-icons_72b42d_256x240.png);
}
.paging_full_numbers .first:hover, .paging_full_numbers .last:hover, .paging_full_numbers .next:hover, .paging_full_numbers .previous:hover {
	background-image: url(../images/ui-icons_ffffff_256x240.png);
}

.paging_full_numbers .previous {
  background-position: -96px -16px !important;
}
.paging_full_numbers .next {
  background-position: -32px -16px !important;
}
.paging_full_numbers .first {
  background-position: -240px -48px !important;
}
.paging_full_numbers .last {
  background-position: -208px -48px !important;
}

#main .dataTables_info {
  width: 100%;
  border-top: solid 1px #EAEAEA;
  margin-top: 5px;
  padding-top: 7px;
  margin-left: 22px;
}

#main .dataTables_filter input {
  float: right;
  margin-right: 25px;
  margin-top: 5px;
  width: 200px;
}

.paging_full_numbers {
  float: right;
  margin-top: -17px;
  margin-right: 25px;
}

.timelog.content {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 0 10px 10px 10px;
}

p.timelog.criteria {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  padding: 10px 10px 10px 10px;
  margin: 0;
}