<% user = friendship.friend %>
<%= render :partial => "users/show",:locals => {:user => user, :memberships => user.memberships.all(:conditions => Project.visible_condition(user))} %>
<div style='float: right'><%#= friendship_control_links(friendship) if @is_current_user%></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'user_message' %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= javascript_tag '
	$(function() {
    $("a.write_message").each(function() {
      $(this).click(function() {
        pageToLoad = $(this).attr("href");
        pageToContent = $(this).parent().find(".write_message_form")
        $.get(pageToLoad, { id: $(this).attr("id")}, function(pageContent) {
          pageToContent.html(pageContent);
        });
  		  return false;
  		});
    });
  });
 ' %>
<% end %>