<% content_for :sidebar_right do %>
  <%= render :partial => 'welcome/sidebar' %>
<% end %>
<article class="article">
<P LANG="de-DE" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 150%"><A NAME="__DdeLink__31_104002532"></A>
<H1>Allgemeine Geschäftsbedingungen</H1></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 1 Geltungsbereich </B>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Für die Nutzung der eScience Plattform gelten im Verhältnis
zwischen dem Nutzer und dem Betreiber der Seite (im Folgenden:
Anbieter) die folgenden Nutzungsbedingungen. Zugriff und
(Weiter-)Nutzung der Plattform werden Ihnen nur gewährt, wenn Sie
die Nutzungsbedingungen als Nutzer durch Auswahl des dafür
vorgesehenen Zustimmungsfeldes anerkennen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 2 Registrierung</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(1) Voraussetzung für die Nutzung der Plattform ist eine vorherige
Registrierung. Bei der Registrierung werden Sie zur Eingabe von
persönlichen sowie Kontaktdaten (vgl. Datenschutzerklärung)
aufgefordert. Diese Angaben sind zwingend, da Sie persönlich
Gruppe(n) gründen, beitreten oder austreten; Termine vereinbaren;
Forenbeiträge schreiben, Projekte durchführen oder andere
Online-Aktivitäten vornehmen und dafür persönlich verantwortlich
sind.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(2) Bei der Eingabe von persönlichen und Kontaktdaten sind Sie zu
wahrheitsgemäßen und aktuellen Angaben verpflichtet. Die Verwendung
von Fantasienamen ist ebenso unzulässig wie die Verwendung
ungültiger E-Mailadressen. Ungültige und temporale E-Mailadressen
werden nicht akzeptiert.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§3 Zustandekommen eines Vertrags mit dem Anbieter</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Der Vertrag zwischen dem Anbieter und Nutzer kommt erst dann
zustande, wenn der Nutzer</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(1) die AGBs gelesen, verstanden und akzeptiert hat</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(2) die Datenschutzerklärung gelesen, verstanden und akzeptiert hat</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§4 Anmeldung und Zugangskennung</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Mit der Nutzung der eScience - Plattform unter diesen Bedingungen
versichern Sie, dass</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Sie Ihre Kennung und Ihr Passwort niemandem mitteilen werden,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Ihre Registrierungsdaten richtig und vollständig sind,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Sie bei Änderung Ihrer Registrierungsdaten diese unverzüglich
in Ihrem Profil aktualisieren werden.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Sie erkennen an, dass</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Sie für jede Nutzung des Plattform-Angebots unter Verwendung
Ihrer Kennung und Ihres Passwortes verantwortlich sind,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Sie dafür Sorge zu tragen haben, dass Ihre Kennung und Ihr
Passwort vor unautorisiertem Gebrauch geschützt sind,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
• Sie verpflichtet sind, die Administration unverzüglich zu
benachrichtigen, falls Sie eine missbräuchliche Verwendung Ihrer
Zugangsdaten bemerken oder vermuten.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§5. Schutzrechte </B>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Sie werden darauf hingewiesen, dass die auf der Plattform enthaltenen
Informationen, Texte, Software, Bilder, Videos, Grafiken, Sound und
andere Materialien in der Regel durch Urheber-, Marken- oder
Patentrechte geschützt sind. Die Nutzung dieser Daten erfolgt
ausschließlich in Rahmen der Ihnen rechtsgültig eingeräumten
Rechte/ Lizenzen.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§6. Nutzung der Plattform und der Informationen </B>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(1) Die Nutzung der eScience – Plattform ist kostenlos.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(2) Das Ihnen auf der Plattform gewährte Zugriffs- und Nutzungsrecht
ist nicht übertragbar und steht nur Ihnen selbst zu. Sie sind
berechtigt, die auf der Plattform zugänglichen Informationen in dem
angebotenen Umfang für wissenschaftliche Zwecke zu nutzen.
insbesondere zu lesen, herunterzuladen, zu speichern,
Sicherheitskopien zu erstellen, auszudrucken. Für andere Zwecke ist
eine Nutzung der auf der eScience – Plattform  hinterlegten
Informationen nicht gestattet. Insbesondere dürfen die Informationen
nicht an Dritte weitergegeben, publiziert oder in anderer Form
Dritten oder der Öffentlichkeit zugänglich gemacht werden. Die
Informationen dürfen daher auch nicht in externen Postings an
Newsgruppen, Mailinglisten, elektronischen schwarzen Brettern u. ä.
verwendet werden, es sei denn, dies ist im Einzelfall ausdrücklich
erlaubt. Für den Fall, dass Sie die auf der eScience - Plattform
enthaltenen Informationen in einem nach den vorstehenden Absätzen
nicht gestatteten Umfang nutzen wollen, wenden Sie sich bitte an die
Arbeitsgruppe eScience - Service.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(3) Wenn Sie Informationen, Texte, Software, Bilder, Videos,
Grafiken, Sound und andere Materialien auf der Plattform zur
Verfügung stellen wollen, müssen Sie:</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
- Inhaber der Rechte sein</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
- Nutzungsrechte einräumen, dabei Hinweise in Metadaten geben,
inwieweit Ihre zur Verfügung gestellten Daten genutzt
werden dürfen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(5) Bei der Erstellung oder Hochladen von Inhalten auf der Plattform
räumt der Nutzer unentgeltlich einfache,
unbefristete, unkündbare, uneingeschränkte und übertragbare
Nutzungsrechte dem Anbieter ein.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§7. Verhaltensregeln</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(1) Der Nutzer verpflichtet sich gegenüber dem Anbieter, keine
Inhalte zu veröffentlichen, die gegen die guten Sitten oder
geltendes Recht verstoßen. Der Nutzer verpflichtet sich insbesondere
dazu, keine Inhalte auf der Plattform einzustellen,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •deren Veröffentlichung einen Straftatbestand erfüllt oder eine
Ordnungswidrigkeit darstellt,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •die gegen das Urheberrecht, Patentrecht,
Markenrecht oder Wettbewerbsrecht verstoßen,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •die gegen das Rechtsdienstleistungsgesetz verstoßen,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •die beleidigenden, rassistischen, diskriminierenden oder
pornographischen Inhalt haben,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •die Werbung enthalten,</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
 •die Informationen, welche einen Virus, einen Fehler,
Manipulationen oder ähnliche schädigende Elemente enthalten.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(2) Bei einem Verstoß gegen die Verpflichtung aus Absatz 1 ist der
Anbieter berechtigt, die entsprechenden Beiträge abzuändern oder zu
löschen und den Zugang des Nutzers zu sperren. Der Nutzer ist
verpflichtet, dem Anbieter den durch die Pflichtverletzung
entstandenen Schaden zu ersetzen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(3) Der Anbieter hat das Recht, Beiträge und Inhalte zu löschen,
wenn diese einen Rechtsverstoß enthalten könnten oder gegen die
guten Sitten verstoßen.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(4) Der Anbieter hat gegen den Nutzer einen Anspruch auf Freistellung
von Ansprüchen Dritter, die diese wegen der Verletzung eines Rechts
durch den Nutzer geltend machen. Der Nutzer verpflichtet sich, den
Anbieter bei der Abwehr derartiger Ansprüche zu unterstützen. Der
Nutzer ist außerdem verpflichtet, die Kosten einer angemessenen
Rechtsverteidigung des Anbieters zu tragen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 8. Standort und Änderung dieser Nutzungsbedingungen</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Die Nutzungsbedingungen können unter dem Punkt &quot;Nutzungsbedingungen&quot;
auf den Einstiegsseiten der Plattform eingesehen werden. Der Anbieter
ist berechtigt, die Nutzungsbedingungen jederzeit zu ändern. Jeder
Nutzer wird vor jeder Änderung der Nutzungsbedingungen automatisch
aufgefordert, den geänderten Bedingungen durch die Auswahl des dafür
vorgesehenen Betätigungsfeldes ausdrücklich zuzustimmen. Stimmt der
Nutzer den geänderten Nutzungsbedingungen nicht zu, werden der
Account des Nutzers und/oder dessen eingestellte Inhalte gesperrt und
ggf. gelöscht. Damit wird die Mitgliedschaft in der Community
beendet.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 9. Gewährleistung und Produkthaftung</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Sie stimmen ausdrücklich zu, dass der Gebrauch der Plattform sowie
deren Inhalte auf eigenes Risiko erfolgen. Der Anbieter übernimmt
keine Gewähr, dass die Programmfunktionen den Anforderungen der
Nutzer/innen genügen oder in der von ihnen getroffenen Auswahl
zusammenarbeiten. Weder der Anbieter noch die Hersteller oder
Entwickler haften gegenüber Nutzer für Schäden, die aufgrund der
Benutzung der Plattform oder deren Inhalte entstehen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 10 Geschäfte mit Dritten</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Teile der eScience - Plattform bzw. bestimmte Dienstleistungen werden
nicht durch den Anbieter selber bereitgestellt. Für die
Beanspruchung dieser Leistungen gelten die Lizenz- und
Geschäftsbedingungen der jeweiligen Anbieter.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Durch die Gründung von oder Beitritt zu Arbeitsgruppen auf der
Plattform entstehen zwischen den Nutzern Verhältnisse nach §§ 705
– 740 BGB. Die Personengesellschaften bestimmen selbst die Rechte
und Verpflichtungen ihrer Mitglieder ohne Teilnahme des Anbieters.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 11 Zustimmung der Erhebung und Verarbeitung von
Transaktionsdaten</B></P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Für die ordentliche Abwicklung der Dienste und die Sicherheit auf
der Plattform werden Transaktionsinformationen (vgl.
Datenschutzerklärung) in Protokollen gesammelt. Sie stimmen der
Verwendung dieser Daten zu, um:
</P>
<UL>
	<LI><P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
	Untersuchungen und Analysen für wissenschaftliche Zwecke
	durchzuführen,</P>
	<LI><P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
	Organisation und Prozesse auf der Plattform zu verbessern,</P>
	<LI><P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
	unbefugte Zugriffe abzuwehren.</P>
</UL>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
Der Anbieter ist berechtigt sich dabei der Hilfe Dritter zu bedienen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<B>§ 12 Beendigung der Mitgliedschaft </B>
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(1) Der Nutzer kann seine Mitgliedschaft durch eine entsprechende
Erklärung gegenüber dem Anbieter ohne Einhaltung einer Frist
beenden. Der Anbieter sperrt daraufhin den Zugang des Nutzers.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(2) Bei Vorliegen eines wichtigen Grundes ist der Anbieter
berechtigt, den Zugang des Nutzers sofort zu sperren und die
Mitgliedschaft ohne Einhaltung einer Frist zu kündigen.</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
(3) Der Anbieter ist berechtigt aber nicht verpflichtet, im Falle der
Beendigung der Mitgliedschaft die vom Nutzer erstellten Inhalte zu
löschen.
</P>
<P LANG="de-DE" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><A NAME="_PictureBullets"></A>
(4)  Die persönlichen Daten des Nutzers werden auf sein Verlangen
nach Vertragsende gelöscht.<FONT SIZE=2><IMG SRC="AGB_eScience_html_0.gif" NAME="graphics1" ALIGN=BOTTOM WIDTH=288 HEIGHT=288 BORDER=0><IMG SRC="AGB_eScience_html_0.gif" NAME="graphics2" ALIGN=BOTTOM WIDTH=288 HEIGHT=288 BORDER=0><IMG SRC="AGB_eScience_html_0.gif" NAME="graphics3" ALIGN=BOTTOM WIDTH=288 HEIGHT=288 BORDER=0></FONT></P>
</article>
