<article class="article">
<h1>Datenschutzerklärung</h2>



<h3><strong>I) Allgemeine Regelungen</strong></h3>

<p>Die Technische Universität Dresden unterliegt als öffentliche Stelle den Bestimmungen des Sächsischen Datenschutzgesetzes (SächsDSG) sowie den einschlägigen gesetzlichen Grundlagen mit Bestimmungen zum Schutz des Rechtes auf informationelle Selbstbestimmung.</p>

<p>Zum Schutz Ihrer Rechte haben wir technische und organisatorische Maßnahmen getroffen, dass die Vorschriften über den Datenschutz innerhalb der Technischen Universität Dresden als auch von externen Dienstleistern beachtet werden, wenn diese an diesem Angebot mitwirken.</p>

<p>Ihre Daten dürfen nur in dem Umfang verarbeitet werden, wie spezielle Gesetze dies zulassen oder Ihre Einwilligung vorliegt.</p>

<p>Wir weisen Sie darauf hin, dass die Datenübertragung, insbesondere per E-Mail, über das Internet derzeit im Wesentlichen ungesichert erfolgt. Es ist nicht ausgeschlossen, dass übermittelte Daten von Unbefugten zur Kenntnis genommen und eventuell sogar verfälscht werden können.</p>

<p>Wenn Sie glauben, die hier aufgeführten Datenschutzrichtlinien werden nicht eingehalten, oder es wird durch die Technische Universität Dresden Missbrauch mit persönlichen Daten betrieben, dann können Sie sich auch an den <a href="/tu-dresden/organisation/rektorat/stabsstelle-informationssicherheit">Datenschutzbeauftragten</a> der Technischen Universität Dresden wenden.</p>

<h3><strong>II) Cookies</strong></h3>

<p>Um die Nutzung unserer Website zu erleichtern, verwenden wir „Cookies“. Cookies sind kleine Textdateien, die von Ihrem Browser auf der Festplatte Ihres Computers abgelegt werden können und hilfreich für die Nutzung unserer Website sind. Cookies speichern Ihre personenbezogenen Daten nicht. Sie können Ihren Internet-Browser so einstellen, dass das Speichern von Cookies auf Ihrer Festplatte verhindert wird bzw. Sie jedes Mal gefragt werden, ob Sie mit dem Setzen von Cookies einverstanden sind. Einmal gesetzte Cookies können Sie auch jederzeit wieder löschen. Wie dies im Einzelnen funktioniert, können Sie den Hilfeseiten Ihres Browsers entnehmen. Das Webportal weist die Besucher beim ersten Besuch der Seiten mit einer Meldung darauf hin, dass Cookies gespeichert werden.</p>

</article>
