<article class="article">
  <h1>Datenschutzhinweis</h1>

  <h2>Allgemeine Regelungen</h2>

  <p>Die Technische Universität Dresden unterliegt als öffentliche Stelle den Bestimmungen des Sächsischen Datenschutzgesetzes (SächsDSG) sowie den einschlägigen gesetzlichen Grundlagen mit Bestimmungen zum Schutz des Rechtes auf informationelle Selbstbestimmung.</p>

  <p>Zum Schutz Ihrer Rechte haben wir technische und organisatorische Maßnahmen getroffen, dass die Vorschriften über den Datenschutz innerhalb der Technischen Universität Dresden als auch von externen Dienstleistern beachtet werden, wenn diese an diesem Angebot mitwirken.</p>

  <p>Ihre Daten dürfen nur in dem Umfang verarbeitet werden, wie spezielle Gesetze dies zulassen oder Ihre Einwilligung vorliegt.</p>

  <p>Wir weisen Sie darauf hin, dass die Datenübertragung, insbesondere per E-Mail, über das Internet derzeit im Wesentlichen ungesichert erfolgt. Es ist nicht ausgeschlossen, dass übermittelte Daten von Unbefugten zur Kenntnis genommen und eventuell sogar verfälscht werden können.</p>

  <p>Wenn Sie glauben, die hier aufgeführten Datenschutzrichtlinien werden nicht eingehalten, oder es wird durch die Technische Universität Dresden Missbrauch mit persönlichen Daten betrieben, dann können Sie sich auch an den <a href="https://tu-dresden.de/tu-dresden/organisation/rektorat/stabsstelle-informationssicherheit">Datenschutzbeauftragten</a> der Technischen Universität Dresden wenden.</p>

  <h2>Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h2>

  <p>Die Nutzung des Dienstes escience.tu-dresden.de sowie die damit verbundene Verarbeitung Ihrer personenbezogenen Daten ist freiwillig.Bei der Verwendung des werden personenbezogene Daten verarbeitet. Bei der ersten Anmeldung werden aus dem zentralen IDM-Dienst der TU Dresden Ihr ZIH-Login, Ihr Vor- und Nachname, Ihre E-Mail-Adresse und Ihre Anrede übernommen und in Ihrem Nutzerkonto gespeichert.</p>

  <p>Sie können diese Informationen jederzeit auf Ihrer Profilseite einsehen und bearbeiten. Wenn Sie wünschen, können Sie dort auch ein Profilbild, Ihre Telefon/Fax-Nummer, eine Einrichtug, Ihre Adresse sowie Ihre Forschungsgebiete und Fertigkeiten angeben. Diese Angaben sind freiwillig und können auch jederzeit wieder gelöscht werden.</p>

  <p>Die personenbezogenen Daten werden für die Kollaborationsfunktionen der eScience-Plattform benötigt. Sie können selbst entscheiden, ob Ihre Daten von anderen Nutzern der Plattform gesehen bzw. gefunden werden können. Dies kann über Einstellungen auf Ihrer Profilseite kontrolliert werden.</p>

  <p>Die Verarbeitung vorgenannter Daten erfolgt ausschließlich zur Erbringung des Dienstes. Eine Übermittlung an Dritte erfolgt nicht, soweit dies nicht gesetzlich anders bestimmt ist.

  <p>Ihre personenbezogenen Daten werden bis zu Ihrem Ausscheiden aus der eScience-Plattform gespeichert. Dies geschieht entweder automatisch nach einem Jahr Konto-Inaktivität oder auf Ihren ausdrücklichen Wunsch hin.</p>

  <h2>Cookies</h2>

  <p>Die eScience-Plattform verwendet sogenannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.</p>

  <p>Die von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht.</p>

  <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>

  <h2>Auskunft, Löschung, Sperrung</h2>

  <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>

</article>
