<article class="article">
<h1>Impressum</h1>
<h2>Anbieterkennzeichnung </h2>

<p><strong>Technische Universität Dresden<br />
01062 Dresden</strong><br />
<br />
Tel.: +49 (0) 351 463-0<br />
Fax: +49 (0) 351 463-37284</p>

<p>Der Internetauftritt der TU Dresden setzt sich aus den verschiedenen Angeboten der universitären Einrichtungen zusammen. Hierzu gehören unter anderem die einzelnen Fakultäten und Zentren, Zentraleinrichtungen und Verwaltungseinrichtungen. Die redaktionelle Verantwortlichkeit liegt dabei bei den Institutionen oder Personen, die jeweilige Seite erstellt haben und als Autorinnen und Autoren am Ende der Seite benannt werden. Sollten Sie Fragen zu den Inhalten auf den betreffenden Seiten haben, wenden Sie sich bitte an die jeweils dort angegebenen Ersteller.</p>

<p><strong>Zentrale Adresse der TU Dresden als Anbieter:</strong><br />
Technische Universität Dresden<br />
Rektor<br />
Prof. Dr.-Ing. habil. DEng/Auckland Hans Müller-Steinhagen<br />
01062 Dresden<br />
<br />
Tel.: +49 (0) 351 463-34312<br />
Fax: +49 (0) 351 463-37121<br />
E-Mail: <a href="&#109;&#97;i&#108;t&#111;&#58;&#x72;e&#x6b;&#116;&#x6f;r&#64;&#x74;u-d&#x72;&#101;sd&#101;n.&#100;&#x65;">&#114;&#101;&#x6b;&#116;or@&#116;u&#45;&#100;&#x72;&#101;&#x73;de&#110;.de</a></p>

<p>Die Technische Universität Dresden ist nach § 2 Abs. 1 Sächsisches Hochschulgesetz eine Körperschaft des öffentlichen Rechts. Sie wird nach § 82 Abs. 1 S. 2 Sächsisches Hochschulgesetz durch den Rektor vertreten.</p>

<p><strong>Die zuständige Aufsichtsbehörde ist das:</strong><br />
Sächsisches Staatsministerium für Wissenschaft und Kunst<br />
Wigardstraße 17<br />
01097 Dresden</p>

<p>Postanschrift:<br />
Postfach 100 920<br />
01076 Dresden<br />
Tel.: +49 (0) 351 564-0</p>

<p>Die <strong>Umsatzsteueridentifikationsnummer</strong> der Technischen Universität Dresden lautet:<br />
USt.-IdNr. DE 18 83 69 99 1</p>

<p>Die <strong>Bankverbindung</strong> der Technischen Universität Dresden lautet:<br />
IBAN: DE52 8504 0000 0800 4004 00<br />
BIC: COBADEFF850</p>

<p><strong>Diese Bankverbindung gilt nicht für die Einzahlung des Semesterbeitrags!</strong><br />
Die dafür vorgesehene Bankverbindung finden Sie <a href="/studium/im_studium/studienorganisation/rueckmeldung/index" title="Link zur Rueckmeldung">hier</a>!</p>

<h2>VERANTWORTLICHKEITEN:</h2>

<p><strong>Ansprechpartner:</strong><br />
Die Pressestelle der Stabsstelle Kommunikation und Corporate Identity der TU Dresden betreut als inhaltlich Verantwortliche im Sinne des § 55 Abs. 2 RStV die zentralen Informationsseiten. Bei Fragen, Hinweisen und ähnlichen wenden Sie sich bitte an:</p>

<p>Technische Universität Dresden<br />
Pressestelle<br />
Nöthnitzer Straße 43<br />
01062 Dresden<br />
E-Mail: <a href="&#109;ai&#108;&#x74;&#111;&#x3a;&#x70;&#x72;&#101;&#x73;&#115;es&#116;&#x65;&#x6c;le@&#x74;&#x75;&#45;d&#114;e&#x73;&#100;&#101;n.d&#101;">&#x70;&#x72;es&#115;&#101;s&#x74;e&#x6c;&#x6c;e@t&#x75;&#45;d&#114;&#101;&#x73;&#x64;&#x65;&#x6e;.&#100;&#x65;</a></p>

<p>Die redaktionelle Verantwortung für Angebote, die jeweils auf anderen Seiten unterbreitet werden, liegt bei den jeweiligen Einrichtungen und Personen, die Inhalte dieser Seiten erstellt haben. Bei Fragen, Anregungen und ähnlichem wenden Sie sich bitte an jeweils Verantwortlichen.</p>

<p><strong>Technische Umsetzung:</strong><br />
Technische Universität Dresden<br />
Medienzentrum<br />
01062 Dresden<br />
Leiter: Prof. Dr. Thomas Köhler<br />
E-Mail: <a href="&#109;&#97;&#x69;&#x6c;t&#111;:&#x6d;ed&#105;&#101;&#110;&#122;e&#x6e;&#x74;&#x72;u&#109;&#x40;&#x74;&#117;&#45;&#x64;&#114;&#x65;sd&#x65;&#110;&#46;&#100;&#x65;">&#x6d;&#101;&#x64;&#105;&#101;&#110;z&#101;&#x6e;&#116;r&#117;m@t&#x75;&#45;dr&#x65;s&#100;&#101;&#x6e;&#x2e;&#100;e</a></p>

<p><strong>Datenschutz:</strong><br />
Technische Universität Dresden<br />
Datenschutzbeauftragter<br />
01062 Dresden</p>

<h2> </h2>

<h2>Haftungsausschluss</h2>

<p>Die inhaltliche Verantwortung der einzelnen WWW-Seiten liegt bei den jeweiligen informationseinstellenden Einrichtungen oder Personen. Eine Haftung für die Richtigkeit, Vollständigkeit und Aktualität dieser Webseiten kann trotz sorgfältiger Prüfung nicht übernommen werden. Die Technische Universität Dresden übernimmt insbesondere keinerlei Haftung für eventuelle Schäden oder Konsequenzen, die durch die direkte oder indirekte Nutzung der angebotenen Inhalte entstehen.</p>

<p>Es wird ausdrücklich darauf hingewiesen, dass sowohl die Technische Universität Dresden als auch das Medienzentrum als Betreiber, keine Verantwortung für den Inhalt von Seiten übernehmen, die mittels Link von den WWW-Dokumenten der Technischen Universität Dresden erreichbar sind.</p>

<p>Für diese Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung dieser Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.</p>



<h2>Urheberrecht und Bildnachweis</h2>

<p>Alle im Internetangebot der Technischen Universität Dresden veröffentlichten Inhalte (Layout, Texte, Bilder, Grafiken usw.) unterliegen dem Urheberrecht. Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger ausdrücklicher Zustimmung. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Fotokopien und Downloads von Web-Seiten für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch dürfen hergestellt werden.</p>

<p>Wir erlauben ausdrücklich und begrüßen das Zitieren unserer Dokumente und Webseiten sowie das Setzen von Links auf unsere Website.</p>

<p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>

<p><a id="datenschutz" name="datenschutz"></a></p>

</article>
