<% content_for :sidebar_right do %>
  <%= render :partial => 'welcome/sidebar' %>
<% end %>
<p STYLE="margin-bottom: 0in"><A NAME="__DdeLink__179_104002532"></A><U><B>Impressum</B></U></p>
<article class="article">
<p STYLE="margin-bottom: 0in"><A NAME="__DdeLink__179_104002532"></A><H1>Impressum</H1></p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.17in; line-height: 100%">
Angaben gemäß § 5 TMG:</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
HTWK Leipzig<br />Karl-Liebknecht-Str. 132<br />04277 Leipzig
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Vertreten durch:</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Rektor: Prof. Dr. rer. nat. Renate Lieckfeldt
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Kontakt:</p>
<p STYLE="margin-bottom: 0in; line-height: 100%">Telefon: +49 (0)
341/3076 0 &nbsp; &nbsp;&nbsp;
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%">Telefax: +49 (0)
341/3076 6456<br /><br />
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%">Postanschrift:
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
HTWK Leipzig<br />Postfach: 301166<br />04251 Leipzig
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Aufsichtsbehörde:</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Sächsisches Staatsministerium für Wissenschaft und Kunst,
Wigardstraße 17, 01097 Dresden, <A HREF="http://www.smwk.de">www.smwk.de</A>
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
&nbsp;</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Rechtsform:</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Körperschaft des öffentlichen Rechts (§ 2 Abs.1 SächsHSG)
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
UStIdNr.: DE 153564026
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Diese Webseite und die hier angebotenen Services stehen in Rahmen des
Projekts „eScience Forschungsnetzwerk Sachsen“ zur Verfügung.
Für die Nutzung dieser gelten die AGB.</p>
<p STYLE="margin-bottom: 0in; line-height: 100%"><B>Ansprechpartner: </B>
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%"><br />
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%">Dr.Toni Tontchev&nbsp;<BR />Koordinator
des Clusters E-Systems im Projekt „eScience Forschungsnetzwerk
Sachsen“</p>
<p STYLE="margin-bottom: 0in; line-height: 100%"><br />
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%">HTWK Leipzig,
Fakultät IMN<br />Gustav-Freytag-Str. <span LANG="en-US">42A <br />04277
Leipzig<br /></span>Telefon: +49 (0) 341/3076 6427 &nbsp; &nbsp;&nbsp;
</p>
<p STYLE="margin-bottom: 0in; line-height: 100%"><EM><span LANG="en-US"><span STYLE="font-style: normal">E-Mail:
tontchev(at)imn.htwk-leipzig.de</span></span></EM><span LANG="en-US"><I>&nbsp;</I></span></p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<br /><br />
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<B>Haftungsausschluss:</B></p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%"><A NAME="_GoBack"></A>
<br />Haftung für Inhalte
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Die inhaltliche Verantwortung der einzelnen WWW-Seiten liegt bei den
jeweiligen informationseinstellenden Einrichtungen oder Personen.&nbsp;Die
Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für
die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können
wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir
gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir
als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
gespeicherte fremde Informationen zu überwachen oder nach Umständen
zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
Informationen nach den allgemeinen Gesetzen bleiben hiervon
unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
Inhalte umgehend entfernen.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Haftung für Links
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
Inhalte wir keinen Einfluss haben. Links werden auch von Nutzern
dieser Plattform veröffentlicht. Deshalb können wir für diese
fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
Seiten verantwortlich. Für Schäden, die aus der Nutzung oder
Nichtnutzung dieser Informationen entstehen, haftet allein der
Anbieter der Seite, auf welche verwiesen wurde. Wir überprüfen die
von uns eingerichteten Links zum Zeitpunkt ihrer Veröffentlichung
sorgfältig und die Nutzer der Plattform sind ebenfalls durch die AGB
dazu verpflichtet. Eine permanente inhaltliche Kontrolle der
verlinkten Seiten, insbesondere für Links, welche von Nutzern der
Plattform eingerichtet wurden, ist ohne konkrete Anhaltspunkte einer
Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
Rechtsverletzungen werden wir derartige Links umgehend entfernen.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Urheberrecht
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt
wurden, werden die Urheberrechte Dritter beachtet. Insbesondere
werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten
wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<br /><br />
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<br /><br />
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
  <b>Datenschutz</b>
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Die Nutzung unserer Webseite bedarf in der Regel der Angabe
personenbezogener Daten. Die Angaben erfolgen stets auf freiwilliger
Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht
an Dritte weitergegeben.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B.
bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
nicht möglich.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
angeforderter Werbung und Informationsmaterialien wird hiermit
ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
von Werbeinformationen, etwa durch Spam-Mails, vor.
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<br /><br />
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
<br /><br />
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
  <b>Die Basis der Plattform</b>
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
Die "eScience-Plattform" basiert auf dem <a href="http://www.redmine.org/"> Redmine Projekt</a>.
Der Programmcode wurde dafür angepasst und ist <a href="http://141.57.9.94/~creichma/escience/">hier</a> herunterladbar
</p>
<p STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%">
&nbsp;</p>
</article>
