<h3><%= link_to h(document.title)+" ("+document.attachments.size.to_s()+" "+l(:label_attachment_plural)+")", document_path(document) %></h3>
<p><em><%= format_time(document.updated_on) %></em></p>

<div class="wiki">
  <%= textilizable(truncate_lines(document.description), :object => document) %>
</div>
