<% content_for :sidebar_right do %>
  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <li><%= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'new', :parent_id => @project}, :class => 'icon icon-add' %></li>
  <% end %>
<%end%>

<h2><%=l(:label_settings)%></h2>

<%= render_tabs project_settings_tabs %>

<% html_title(l(:label_settings)) -%>
