<fieldset>
  <legend>My security settings</legend>

  <% selected = @user.selected_security_options %>
  <% User.security_hash.keys.each do |k| %>
    <div style="float:left; width:230px; margin-top:5px;">
      <%= label_tag do %>
      <%= check_box_tag "security[#{k}]", "security[#{k}]", selected.include?(k) %> 
      <%="#{l(k.to_s)}" %>
      <%end%>
    </div>
  <%end%>
</fieldset>