<p><%= l(:mail_body_inactive_user_warning_intro, :last_login => I18n.l(@last_login), :cutoff_days => @cutoff_days) %></p>
<p><%= l(:mail_body_inactive_user_warning_action, :cutoff_date => I18n.l(@cutoff_date)) %></p>
<p><%= l(:mail_body_inactive_user_warning_info) %></p>
