<div class='yui'>
  <div id = "single_upload", class = ".yui-b" >
    <fieldset>
        <h3><%= l(:new_album) %></h3>
        <%= form_for(@album, :url => {:controller => 'albums', :action => 'update', :user_id => User.current.id, :project_id => params[:project_id],:id => @album.id},:html => {:class => "MainForm"}) do |f|   %>
          <%= render :partial => 'form', :locals => {:f => f, :button1 => l(:edit_and_add_photos), :button2 => l(:edit_album) } %>
        <%end%>
    </fieldset>
</div>
</div>