<div class ='alt'>
    <%#= link_to l(:back_to_photo_manager), user_photo_manager_index_path(current_user) %>
</div>
  <div id='yui'>
    <div id ="single_upload", class =".yui-b">
      <fieldset>
      <h3><%= l(:new_album) %></h3>
      <%= form_for(@album, :url => {:controller => 'albums', :action => 'create', :user_id => User.current.id, :project_id => params[:project_id]}, :html => {:class => "MainForm"}) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f, :button1 => l(:create_and_add_photos), :button2 => l(:create_album) } %>
      <%end%>
      </fieldset>
    </div>
  </div>
